.store-shelf-1-buy.pc {
  width: 1200px;
  height: auto;
  margin: 0 auto;
  margin-top: -630px;
  z-index: 2;
  position: relative;
  .buy-content {
    .buy-tabs {
      display: flex;
      justify-content: center;
      margin-bottom: 30px;
      .buy-tabs_item {
        width: 155px;
        height: 46px;

        &.on {
          p {
            background-color: #fff;
            color: #000;
            border: 0;
          }
        }
        &:first-child {
          &.on {
            background: url("./img/button_icon_left.svg") no-repeat;
            background-position: left bottom;
          }
          p {
            border-radius: 31px 0 0 31px;
            border-right: 1px solid #fff;
          }
        }

        &:nth-child(2) {
          &.on {
            background: url("./img/button_icon_center.svg") no-repeat;
            background-position: center bottom;
          }
          p {
            border-right: 1px solid #fff;
          }
        }

        &:last-child {
          &.on {
            background: url("./img/button_icon_right.svg") no-repeat;
            background-position: right bottom;
          }
          p {
            border-radius: 0 31px 31px 0;
          }
        }
        &:not(.on) {
          p {
             box-shadow: 0 4px 0px #EF6565;
          }
        }
        p {
          width: 100%;
          height: 35px;
          background-color: #FF7E7E;
          text-align: center;
          font: normal normal 600 14px/35px BalooChettan;
          color: #FFFFFF;
          cursor: pointer;
        }
      }

    }
    .buy-tabs_content {
      width: 100%;
      height: auto;
      .buy-tabs_content-item {
        ul {
          width: 100%;
          display: flex;
          justify-content: center;
          li {
            width: 220px;
            height: 420px;
            margin-right: 27px;
            display: flex;
            flex-direction: column;
            border-radius: 16px;
            box-shadow: 0px 12px 24px #00000012;
            position: relative;
            cursor: pointer;
            &:last-child {
              margin-right: 0;
            }
            .buy-tabs_content-item_top {
               width: 100%;
               height: 138px;
               background-color: rgba(255, 255, 255, 0.6);
               border-radius: 12px 12px 0 0;
               position: relative;
               h2 {
                 padding-left: 10px;
                 padding-top: 10px;
                 span {
                   display: inline-block;
                   width: 28px;
                   height: 28px;
                   background: #FFFFFF;
                   border: 1px solid #AE9BA0;
                   border-radius: 100%;
                 }
               }
               > p {
                text-align: center;
                font: normal normal 600 42px/42px BalooChettan !important;
                color: #000000;
               }
               > span {
                text-align: center;
                display: block;
                font: normal normal 500 16px/30px BalooChettan!important;
                color: #7F8498;
               }
               .tags {
                width: 96px;
                height: 22px;
                background: #FFFFFF 0% 0% no-repeat padding-box;
                border: 1px solid #37C99D;
                border-radius: 6px;
                text-align: center;
                font: normal normal 500 14px/22px BalooChettan;
                color: #37C99D;
                position:absolute;
                left: 50%;
                bottom: -11px;
                transform: translateX(-50%);
               }
            }
            .buy-tabs_content-item_bottom {
              flex: 1;
              background-color: rgba(255, 255, 255, 1);
              border-radius: 0 0 12px 12px;
              .bottom_price {
                margin-top: 26px;
                p {
                  text-align: center;
                  font: normal normal 400 32px/45px BalooChettan;
                  color: #000000;
                  span {
                    font: normal normal 500 16px/45px BalooChettan;
                  }
                }
              }
              .bottom_line {
                text-align: center;
                margin-top: 20px;
                margin-bottom: 20px;
                p {
                  width: 38px;
                  height: 0px;
                  border: 2px solid rgb(237, 237, 237);
                  margin: 0 auto;
                }
              }
              .bottom_text {
                >div {
                  display: flex;
                  padding-left: 24px;
                  align-items: center;
                  margin-bottom: 10px;
                  img {
                    margin-right: 16px;
                  }
                  p {
                    font: normal normal 400 16px/25px BalooChettan;
                    color: #000000;
                  }
                }
              }
            }
            &.selected {
              .buy-tabs_content-item_top {
                > h2 {
                  span {
                    background: url('./img/select-icon2.svg') no-repeat;
                    background-size: cover;
                    border: 0;
                  }
                }
              }
              .buy-tabs_content-item_bottom {
                .bottom_price {
                  p {
                    color: red;
                  }
                }
              }
            }
            &.selected::before {
              content: '';
              position: absolute;
              width: calc(100% - 4px);
              height: 420px;
              // background-color: ;
              top: -4px;
              left: -4px;
              border: 4px solid #6257FF;
              border-radius: 16px;
              z-index: 5;
            }
          }
        }
      }
      .buy-tabs_content-item.like-day-main {
        .like-day {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 24px;
          .like-day_item {
            width: 190px;
            height: 60px;
            border-radius: 16px;
            background-color: rgba(255, 255, 255, 0.6);
            margin-right: 60px;
            display: flex;
            align-items: center;
            padding-left: 22px;
            cursor: pointer;
            span {
              display: inline-block;
              width: 24px;
              height: 24px;
              border: 2px solid #FFFFFF;
              border-radius: 100%;
              margin-right: 25px;
            }
            p {
              font: normal normal 500 16px/30px BalooChettan;
              color: #000000;

            }
            &:last-child {
              margin-right: 0;
            }
          }
        }
        .likeActive {
           background-color: #6257FF!important;
           span {
             background: url("./img/select-icon3.svg") no-repeat;
             background-size: cover;
             border: 0!important;
           }
           p {
             color: #fff!important;
           }
        }
        .dayActive {
          .buy-tabs_content-item_top {
          > h2 {
              span {
              background: url('./img/select-icon2.svg') no-repeat;
              background-size: cover;
              border: 0;
              }
            }
          }
          &::before {
            content: '';
            position: absolute;
            width: calc(100% - 4px);
            height: 420px;
            // background-color: ;
            top: -4px;
            left: -4px;
            border: 4px solid #6257FF;
            border-radius: 16px;
            z-index: 5;
          }
          .buy-tabs_content-item_bottom {
            .bottom_price {
              p {
                color: red;
              }
            }
          }
        }
      }
      // auto-like
      .buy-tabs_content-item.auto-like {
        > p{
          text-align: center;
          margin-bottom: 30px;
          font: normal normal 500 16px/27px BalooChettan;
          color: #FFE8EB;
        }
        .like-day {
          label {
            select {
              width: 166px;
              height: 32px;
              color: #fff;
              border: 0;
              outline: none;
              font: normal normal 600 14px/21px BalooChettan;
              background: #6257FF url("./img/arrow-bottom-pc.svg") no-repeat right 14px center !important;
              background-size: 10px 5px !important;
              option {
                background-color: #fff!important;
              }
            }
          }
        }
        ul {
          align-items: flex-end;
          height: 304px;
          li {
            width: 302px;
            height: 284px;
            background: rgba(255, 255, 255, 0.6);
            box-shadow: 0px 12px 24px #0000001C;
            border: 1px solid #FFFFFF;
            border-radius: 16px;
            backdrop-filter: blur(25px);
            -webkit-backdrop-filter: blur(25px);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            box-sizing: border-box;
            padding-top: 32px;
            position: relative;
            &.mostPopular {
              &::after {
                content: '';
                position: absolute;
                width: 157px;
                height: 66px;
                top: -13px;
                right: -34px;
                background-color: red;
                z-index: 5;
                background: url('./img/pc-most.svg') no-repeat;
                background-size: 100% 100%;
              }
            }
            .circle-span {
              position: absolute;
              top: 10px;
              left: 10px;
              display: block;
              width: 28px;
              height: 28px;
              background: #FFFFFF;
              border: 1px solid #AE9BA0;
              border-radius: 100%;
            }
            &.dayActive {
              background-color: #fff;
              height: 304px;
              transition: height 0.3s;
              border: 0;
              &::before {
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                box-sizing: border-box;
              }
              .circle-span {
                background: url('./img/select-icon2.svg') no-repeat;
                background-size: 100% 100%;
                border: 0;
              }
              h4 {
                background-color: #FF4343;
                color: #fff;
              }
            }
            h3 {
              text-align: center;
              font: normal normal 600 28px/41px BalooChettan;
              color: #000000;
            }
            h4 {
              width: auto;
              height: 28px;
              border: 2px solid #FF4343;
              border-radius: 6px;
              padding: 0 18px;
              text-align: center;
              font: normal normal 500 16px/26px BalooChettan;
              color: #FF4343;
              box-sizing: border-box;
              margin-bottom: 33px;
            }
            .auto-price {
              margin-bottom: 35px;
              span:nth-child(1) {
                font: normal normal 500 24px/45px BalooChettan;
                color: #000000;
              }
              span:nth-child(2) {
                font: normal normal 500 36px/45px BalooChettan;
                color: #000000;
              }
              s {
                // text-decoration: line-through;
                font: normal normal 500 14px/21px BalooChettan;
                color: #666168;
              }
            }
            > p {
              font: normal normal 500 14px/21px BalooChettan;
              color: #666168;
            };
          }
        }
      }
    }
  }
  .buy-box {
    width: 1120px;
    height: auto;
    background-color: red;
    margin: 0 auto;
    margin-top: 70px;
    background: #FFFFFF;
    box-shadow: 0px 12px 24px #2B25BC0F;
    border: 1px solid #E6E6E6;
    border-radius: 29px;
    padding-bottom: 50px;
    .box-text {
      display: flex;
      align-items: center;
      padding-left: 50px;
      margin-top: 52px;
      img {
        margin-right: 13px;
      }
      .box-text_num {
        margin-right: 63px;
        font: normal normal 600 18px/21px BalooChettan;
        color: #000000;
        h3 {
          font: normal normal 600 18px/21px BalooChettan;
          color: #000000;
        }
        p {
          font: normal normal 600 14px/14px BalooChettan;
          color: #FFA41C;
        }
      }
      .box-text-price {
        font: normal normal 600 18px/19px BalooChettan;
        color: #F94E4E;
      }
    }
    .box-input {
      display: flex;
      padding-left: 50px;
      box-sizing: border-box;
      margin-top: 40px;
      label {
        width: 760px;
        height: 60px;
        margin-right: 20px;
        input {
          border: 1px solid #E6E6E6;
          font: normal normal 400 16px/23px BalooChettan;
        }
      }
      .search_btn {
        width: 240px;
        height: 60px;
        button {
          background: transparent linear-gradient(90deg, #FE5C88 0%, #4761FF 100%) 0% 0% no-repeat padding-box;
          box-shadow: 0px 12px 24px #AB20773D;
          border-radius: 8px;
        }
      }
    }
    .box-request {
      height: auto;
      width: 100%;
      background-color: #fff;
      position: relative;
      left: 0;
      top: 50px;
      border-radius: 0 0 29px 29px;
      overflow: hidden;
      padding-bottom: 100px;
      .box-request_avator {
        width: 56px;
        height: 56px;
        margin: 0 auto;
        border-radius: 100%;
        background-color: aqua;
        margin-bottom: 5px;
        img {
          width: 100%;
          height: 100%;
          border-radius: 100%;
          display: block;
        }
      }
      .box-request_info {
        margin-bottom: 23px;
        > p {
          text-align: center;
          font: normal normal 600 20px/25px BalooChettan;
          color: #000000;
          margin-bottom: 5px;
          margin-bottom: 10px;
        }
        ul {
          display: flex;
          align-items: center;
          justify-content: center;
          li {
            margin-right: 70px;
            &:last-child {
              margin-right: 0;
            }
            h3 {
              text-align: center;
              font: normal normal 600 18px/28px BalooChettan;
              color: #7F8498;
            }
            p {
              font: normal normal 500 12px/18px BalooChettan;
              color: #7F8498;
            }
          }
        }
      }
      .box-request_list {
        > h3 {
          font: normal normal bold 20px/30px BalooChettan;
          color: #000000;
          margin-bottom: 10px;
          i {
            font-size: 16px;
            color: red;
            opacity: 0;
          }
          &.error {
            i {
              animation: 0.5s title-error-show 0.5s ease forwards;
            }
          }

          @keyframes title-error-show {
            0% {
              opacity: 0;
              transform: scale(0);
            }
            50% {
              transform: scale(1.1);
            }
            100% {
              opacity: 1;
              transform: scale(1);
            }
          }
        }
        width: 643px;
        height: auto;
        margin: 0 auto;
        overflow: hidden;
        .box-post_list {
          .box-post_list-item {
            width: 88px;
            height: 88px;
            float: left;
            margin-right: 23px;
            margin-top: 20px;
            border-radius: 8px;
            cursor: pointer;
            position: relative;
            &:nth-child(6n) {
              margin-right: 0;
            }
            img {
              width: 100%;
              height: 100%;
              display: block;
              border-radius: 8px;
            }
            .mark {
              display: none;
            }
            &.selected {
              .mark {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background-color: rgba(0,0,0,.53);
                border: 3px solid #ff215c;
                border-radius: 8px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                i {
                  display: inline-block;
                  width: 20px;
                  height: 22px;
                  background: url('./img/icon_favorite.svg') no-repeat;
                  background-size: contain;
                }
                p {
                  font-size: 18px;
                  font-weight: 500;
                  color: #fff;
                }
              }
            }

          }
        }
      }
    }
    .post-more {
      text-align: center;
      margin-top: 23px;
      margin-bottom: 24px;
      a {
        font: normal normal 400 14px/21px BalooChettan;
        color: #C3C8DC;
      }
      p {
        font: normal normal 400 14px/21px BalooChettan;
        color: #C3C8DC;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
          display: inline-block;
          width: 30px;
          height: 30px;
          background: url('./img/loading-puff-black.svg') no-repeat;
          background-size: cover;
        }
      }
    }
    .post-btn {
      width: 292px;
      height: 60px;
      margin: 0 auto;
    }
  }
  .new-module {
    margin-top: 71px;
    .new-module_text {
      ul {
        display: flex;
        justify-content: center;
        align-items: center;
        li{
          width: 250px;
          height: auto;
          display: flex;
          align-items: center;
          font: normal normal 500 16px/50px BalooChettan;
          color: #000000;
          img {
            margin-right: 10px;
            display: block;
          }
          &:first-child {
            margin-right: 137px;
          }
        };
        &:first-child {
          margin-bottom: 10px;
        }
      }
    }
  }

  .likes-link {
    text-align: center;
    margin: 50px 0;
    a {
      text-decoration: underline;
      font: normal normal 400 16px/20px BalooChettan;
      color: #7F8498;
    }
  }
}

.store-shelf-1-buy.mobile {
  margin-top: -180px;

  .wrapper {
    width: 800px;
  }

  .store-container {
    padding-top: 64px;
    background: #FFFFFF;
    box-shadow: 0 10px 20px rgba(0, 19, 97, 0.07);
    border-radius: 12px;

    h2 {
      font-size: 0;

      span {
        font: 600 20px/34px Montserrat;
        color: #2A2A2A;
        vertical-align: middle;
      }

      i {
        margin-left: 10px;
        display: inline-block;
        font-size: 22px;
        color: #FF3A3A;
        opacity: 0;
        transform-origin: left center;
        vertical-align: middle;
      }

      &.error {
        i {
          animation: 0.5s title-error-show 0.5s ease forwards;
        }
      }

      @keyframes title-error-show {
        0% {
          opacity: 0;
          transform: scale(0);
        }
        50% {
          transform: scale(1.1);
        }
        100% {
          opacity: 1;
          transform: scale(1);
        }
      }
    }
  }

  .btn-container {
    margin-top: 32px;
    width: 100%;
    height: 80px;
  }

  .tabs {
    display: flex;
    justify-content: center;
    align-items: center;

    .unit {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 340px;
      height: 75px;
      background: #E5E5E5 ;
      border-radius: 12px 12px 0 0;
      cursor: pointer;
      transition: all 0.3s;

      font: 600 20px/60px Montserrat;
      color: #000000;

      &:last-child {
        // margin-left: 16px;

        &:after {
          position: absolute;
          top: -30px;
          right: -4px;
          content: "";
          display: block;
          width: 45px;
          height: 64px;
          background: url("~@/assets/images/payment/icon_hot.svg") center no-repeat;
          background-size: contain;
        }
      }

      &.on {
        background: #fff;
        color: #005FFF;

        &:hover {
          background: #fff;
        }
      }

      &:hover {
        background: rgba(255, 255, 255, 0.4);
      }
    }
  }

  .tab-content {
    .store-container {
      .pkg-container, .extra-container, .post-container {
        padding: 0 50px;
      }

      .control-search_ins-container {
        margin-top: 60px;
        padding: 50px 50px 40px;
        background-color: #F7F7FB;
        border-radius: 6px;

        h2 {
          font: 600 20px Montserrat;
          color: #2A2A2A;
          text-align: center;
        }

        .control-search_ins {
          margin-top: 38px;
        }

        .ins-info-container {
          margin-top: 38px;
          text-align: center;

          img {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            object-fit: cover;
          }

          h3 {
            margin-top: 6px;
            font: 500 24px Montserrat;
            color: #2A2A2A;
            @include text-ellipsis;
          }

          p {
            display: flex;
            justify-content: space-evenly;
            font: 500 16px/60px Montserrat;
            color: #A8A8A8;
            @include text-ellipsis;

            b {
              margin-right: 8px;
              font-size: 24px;
              color: #2A2A2A;
            }
          }
        }
      }

      .extra-container {
        margin-top: 56px;
        padding-bottom: 64px;
      }

      .post-container {
        margin-top: 64px;
      }
    }
  }

  // 新年
  &.new-year {
    margin-top: -420px;

    .new-year__santa-claus {
      display: block;
    }
  }

  .new-year__santa-claus {
    position: fixed;
    z-index: 10;
    bottom: 100px;
    left: 0;
    right: -99px;
    margin: auto;
    transform: translateX(453px) scaleX(1);
    width: 198px;
    height: 235px;
    background: url("~@/views/store/store-instant-and-daily/views/store-shelf-0-banner-followers/img/new-year__santa-claus.svg") center no-repeat;
    transition: all 0.3s;
    transform-origin: left center;

    &.hide {
      opacity: 0;
      transform: translateX(453px) scaleX(0);
    }
  }

  // 情人节
  &.valentine {
    margin-top: -610px;
    background-color: #FFDED8;

    .new-year__santa-claus {
      display: none;
    }
  }
  // 春节
  &.spring {
    margin-top: -610px;
    background-color: #F9F8F2;
    .tabs{
      .unit{
        &:last-child{
          &:after{
            background-image: url("~@/assets/images/payment/icon_hot-spring.svg");
          }
        }
      }
    }

    .new-year__santa-claus {
      display: none;
    }
  }

}
.store-shelf-1-buy.spring.mobile {
  margin-top: -610px;
  background-color: #F9F8F2;
}
@media (max-width: 768px) {
  .btnPurple {
    button {
      background: #7C56FF 0% 0% no-repeat padding-box!important;
      box-shadow: 0px 6px 12px #9B9B9B3D;
    }
  }
  .new-module {
    .new-module_text {
      width: 295px;
      height: 218px;
      border: 1px solid rgba(#7F8498, 0.26);
      border-radius: 8px;
      margin: 40px auto;
      padding-left: 20px;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      ul {
        li {
          width: 100%;
          display: flex;
          align-items: center;
          margin-bottom: 5px;
          font: normal normal 500 16px/16px BalooChettan;
          color: #000000;
          img {
            margin-right: 10px;
            display: block;
          }
          &:first-child {
            margin-bottom: 12px;
          }
          &:nth-child(3) {
            margin-bottom: 0px;
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .store-shelf-1-buy.mobile {
    margin-top: -110px;

    .wrapper {
      // padding: 0 4vw;
      width: 100%;
      background-color: #fff;
      padding-top: 24px;
      border-radius: 24px 24px 0 0;
    }

    .store-container {
      padding-top: 0;
      box-shadow: 0 5px 10px rgba(0, 19, 97, 0.07);
      border-radius: 6px;

      h2 {
        span {
          font: 600 16px/20px Montserrat;
        }

        i {
          margin-left: 5px;
          font-size: 12px;
        }
      }
    }

    .btn-container {
      margin-top: 32px;
      width: 100%;
      height: 56px;

      &.mk0 {
        padding: 0 4vw;
      }
    }

    .tabs {
      border: 2px solid #E1E1E1;
      border-radius: 31px;
      margin: 0 17px;
      box-sizing: border-box;
      .unit {
        width: 50%;
        height: 37px;
        border-radius: 0;
        font: normal normal 600 14px/21px BalooChettan;
        color: #000000;

        &.on {
          background-color: #fff !important;
          border-radius: 0;
          color: #000;
          // 选中状态
          position: relative;
          border: 0!important;
          &::before {
            content: '';
            position: absolute;
            bottom: -10px;
            left: 50%;
            transform: translateX(-50%);
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid #E5E5E5;
          }

        }
        &:first-child {
          border-radius: 31px 0 0 31px;
        }
        &:nth-child(2) {
          border-right: 1px solid #d5cfcf;
          border-left: 1px solid #d5cfcf;
        }

        &:last-child {
          border-radius: 0 31px 31px 0;
          &:after {
            top: -16px;
            right: -4px;
            width: 22px;
            height: 32px;
          }
        }
      }
    }

    .tab-content {
      .store-container {
        box-shadow: none;
        .pkg-container, .extra-container, .post-container {
          padding: 0 4vw;
        }

        .pkg-container {
          // justify-content: flex-start;
          #title-pkg-like {
            margin-top: 24px;
            span {
              font: normal normal 600 14px/21px BalooChettan;
              color: #7F8498;
            }
          }
          .cycle {
            &::before {
              width: 26px;
              height: 26px;
              left: 24px;
            }
            select {
              padding-left: 63px!important;
              font: normal normal 500 18px/21px BalooChettan;
            }
          }
          .package {
            margin-top: 12px;
            min-height: 68px;
            box-shadow: none;
            border-radius: 34px;
            padding-left: 20px!important;
            position: relative!important;
            &::after {
              content: none;
            }
            &:first-child {
              margin-top: 25px;
            }
            .package_info {
              display: flex;
              align-items: center;
              .likes-mk-1 {
                display: inline-block;
                width: 80px;
                height: 50px;
                position: relative;
                &::before {
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-70%, -50%);
                }
                span {
                  display: inline-block;
                  width: 100%;
                  margin: 0;
                  padding: 0;
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  height: 100%;
                  i {
                    font-style: normal;
                    &:first-child {
                      font: normal normal bold 20px/23px BalooChettan;
                      color: #7F8498;
                    }
                    &:last-child {
                      font: normal normal 600 14px/13px BalooChettan;
                      color: #000000;
                    }
                  }
                }
                // &::before {
                //   content: none;
                // }
              }
            }
            .coins {
              display: inline-block;
              width: 50px!important;
              text-align: left;
              sup {
                color: #7F8498;
                display: inline-block;
                width: 100%;
                font: normal normal 600 16px/17px BalooChettan;
              }
            }
            .select_icon {
              width: 26px;
              height: 26px;
              border: 2px solid #CFCFCF;
              border-radius: 100%;
              position: relative;
              margin-right: 14px;
            }
            .num {
              .num-i {
                width: 24px;
                height: 21px;
              }
              b {
                font: normal normal bold 18px/21px BalooChettan;
                color: #000000;
                display: inline-block;
                width: 45px;
                text-align: left;
              }
            }
            &.selected {
              .select_icon::before {
                content: '';
                width: 16px;
                height: 16px;
                background: #7257FA;
                border-radius: 100%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
              }
            }
            .best-icon {
              position: absolute;
                top: -20px!important;
                right: -20px!important;
                width: 50px;
                height: 50px;
                background: url("./img/best_icon.svg") no-repeat;
                background-size: 100% 100%;
            }
            &.hot {
              .likes-mk-1 {
                span {
                  div {
                    flex: 1;
                    height: 100%;
                    background: url('./img/best-free.svg') no-repeat center center;
                    p {
                      text-align: center;
                      font: normal normal 400 9px/9px BalooChettan;
                      color: #FFFFFF;
                      margin-top: 10px;
                      margin-bottom: 5px;
                    }
                    h4 {
                      text-align: center;
                      font: normal normal bold 13px/18px BalooChettan;
                      color: #FFFFFF;
                    }
                  }
                }
                &::before {
                  content: none;
                }
              }
            }
          }
        }
        .auto-like-m {
          padding-top: 18px;
          > div {
            text-align: center;
          }
          label {
            select {
              width: 195px;
              height: 38px!important;
              min-height: 38px!important;
              color: #fff;
              border: 0;
              outline: none;
              font: normal normal 600 14px/21px BalooChettan;
              margin: 0 auto!important;
              border-radius: 4px!important;
              background: #6257FF url("./img/arrow-bottom.svg") no-repeat right 14px center !important;
              background-size: 12px 9px !important;
              padding-left: 40px!important;
              
              option {
                background-color: #fff!important;
              }
            }
            
          }
          > p {
            text-align: center;
            font: normal normal 500 14px/17px BalooChettan;
            color: #7F8498;
            margin-bottom: 30px;
          }
          ul {
            margin-top: 33px;
            li {
              width: 100%;
              height: 68px;
              background: #FFFFFF;
              border: 1px solid #EBEBEB;
              border-radius: 44px;
              margin-bottom: 20px;
              display: flex;
              padding-right: 30px;
              box-sizing: border-box;
              position: relative;
              &.mostPopular {
                box-sizing: border-box;
                &::after {
                  content: '';
                  position: absolute;
                  width: 116px;
                  height: 56px;
                  top: -16px;
                  right: -21px;
                  background-color: red;
                  z-index: 5;
                  background: url('./img/mob-most.svg') no-repeat;
                  background-size: 100% 100%;
                }
              }
              &.dayActive {
                >span {
                  background: url('./img/select-icon2.svg') no-repeat;
                  background-size: cover;
                  border: 0;
                }
                &::before {
                   content: '';
                   position: absolute;
                   width: 100%;
                   height: 100%;
                   top: 0;
                   left: 0;
                   border: 2px solid #7257FA;
                   box-sizing: border-box;
                   border-radius: 44px;
                }
                .auto-like-right_top {
                  h4 {
                    background-color: #FF3A3A;
                    color: #fff!important;
                  }
                }
              }
              > span {
                display: block;
                width: 26px;
                height: 26px;
                margin: 0 18px;
                border: 2px solid #CFCFCF;
                border-radius: 13px;
                margin-top: 21px;
              }
              .auto-like-right {
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-top: 14px;
                .auto-like-right_top {
                  display: flex;
                  justify-content: space-between;
                  div {
                    display: flex;
                    align-items: center;
                    font: normal normal 600 18px/21px BalooChettan;
                    color: #000000;
                    img {
                      width: 24px;
                      height: 21px;
                      margin-right: 7px;
                    }
                  }
                  h4 {
                    height: 20px;
                    border: 1px solid #FF3A3A;
                    border-radius: 4px;
                    padding: 0 10px;
                    text-align: left;
                    font: normal normal 600 14px/18px BalooChettan;
                    letter-spacing: 0.28px;
                    color: #FF3A3A;
                  }
                  span {
                    font: normal normal 600 18px/17px BalooChettan;
                    color: #000000;
                    display: inline-block;
                    width: 52px;
                    text-align: left;
                  }
                  margin-bottom: 3px;
                }
                .auto-like-right_bottom {
                  display: flex;
                  justify-content: space-between;
                  p {
                    font: normal normal 500 12px/17px BalooChettan;
                    letter-spacing: 0px;
                    color: #7F8498;
                  }
                  s {
                    font: normal normal 500 14px/17px BalooChettan;
                    color: #7F8498;
                    display: inline-block;
                    width: 52px;
                    text-align: left;
                  }
                }
              }
              &:last-child {
                margin-bottom: 0;
              }
            }
          }
        }
        .control-search_ins-container {
          margin-top: 24px;
          padding: 50px 12px 24px 12px;
          background: #F1F3F5!important;
          border-radius: 0;

          h2 {
            font: 600 16px Montserrat;
          }

          .control-search_ins {
            margin-top: 0;
            display: flex;
            background: #F1F3F5!important;
            box-shadow: none;
            height: 48px;
            margin-bottom: 26px;

            .search_btn {
              button {
                background: transparent linear-gradient(90deg, #FEB85C 0%, #FF7347 100%) 0% 0% no-repeat padding-box;
                font: normal normal 600 16px/37px BalooChettan!important;
              }
            }

            label {
              input {
                background: #fff;
                padding-left: 17px;
                font: normal normal 500 14px/21px BalooChettan;
                border: 1px solid #E6E6E6!important;
                border-radius: 8px;
                box-shadow: none;
              }
              margin-right: 8px;
              background: #F1F3F5;
            }
          }

          .ins-info-container {
            margin-top: 50px;

            img {
              width: 68px;
              height: 68px;
            }

            h3 {
              margin-top: 8px;
              font: normal normal 600 20px/25px BalooChettan!important;
              margin-bottom: 10px;
            }

            p {

              span {
                display: flex;
                flex-direction: column;
                font: normal normal 500 12px/25px BalooChettan;
                color: #7F8498;
              }

              b {
                margin-right: 0;
                font: normal normal 600 18px/28px BalooChettan;
                color: #7F8498;
                text-align: center;
              }
            }
          }
        }

        .extra-container {
          margin-top: 34px;
          padding-bottom: 44px;

          h2 {
            text-align: center;

            &:before {
              margin: 0 auto;
              display: block;
              width: 42px;
              height: 42px;
            }

            span {
              margin-top: 8px;
              display: inline-block;
            }
          }
        }

        .post-container {
          margin-top: 0;
          background: #F1F3F5;
          padding: 24px 33px 0 24px;
          overflow: hidden;
          #title-post-like {
            margin-bottom: 10px;
            span {
              font: normal normal bold 20px/30px BalooChettan;
              color: #000000;
            }
          }
          .post-list {
            .post-list-wrapper {
              margin: 0;
              width: 100%;
              padding: 0;
              .img-container {
                margin: 0;
                width: 23.46vw;
                height: 23.46vw;
                margin-right: 23px;
                margin-bottom: 20px;
                .mark {
                  border-radius: 8px;
                }
                &:nth-child(3n) {
                  margin-right: 0;
                }
              }

            }
          }
          .load-more {
            text-decoration: underline;
            font: normal normal 500 14px/21px BalooChettan!important;
            color: #C3C8DC!important;
            margin-top: 10px;
            margin-bottom: 32px;
          }
          .likesBuyBtn {
            height: 56px;
            margin-bottom: 72px;
            button {
              background: transparent linear-gradient(90deg, #FEB85C 0%, #FF7347 100%) 0% 0% no-repeat padding-box!important;
              border-radius: 8px;
              font: normal normal 600 16px/37px BalooChettan;
              color: #FFFFFF;
            }

          }
        }
      }
    }

    .likes-buy-btn {
      button {
        background: transparent linear-gradient(90deg, #FEB85C 0%, #FF7347 100%) 0% 0% no-repeat padding-box;
      }
    }

    &.new-year {
      margin-top: -86px;

      .new-year__santa-claus {
        display: none;
      }
    }

    &.valentine {
      margin-top: -762px;
      background: radial-gradient(closest-side at 50% 50%, #FFB4B4 0%, #D84646 100%);
    }
    &.spring {
      margin-top: -762px;
      background: #FF9941;
    }
  }
}
