.instagram-follower-counter {
    background-color: #F1F4F6;
    .counter-banner {
        width: 100%;
        height: 650px;
        animation-name: loading;
        animation-duration: 10s;
        animation-timing-function: ease-in;
        animation-iteration-count: infinite;
        background: linear-gradient(90deg, #4761ff 0%, #fe5c88  50%, #4761ff 100%);
        background-size: 200% 100%;
        background-position: 200% 0;
        padding-top: 106px;
        box-sizing: border-box;
        h2 {
            font: normal normal 600 64px/94px BalooChettan;
            color: #FFFFFF;
            text-align: center;
            margin-bottom: 10px;
        }
        p {
            text-align: center;
            font: normal normal 500 20px/30px BalooChettan;
            color: #FFFFFF;
            margin-bottom: 68px;
        }
        .counter-banner_inputs {
            width: 643px;
            height: 75px;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border-radius: 8px;
            margin: 0 auto;
            margin-bottom: 42px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            label {
                width: 450px;
                height: 100%;
                input {
                    border: 0;
                    font: normal normal 400 16px/36px BalooChettan;
                }
            }
            button {
                width: 146px;
                height: 53px;
                background: transparent linear-gradient(90deg, #20D2A8 0%, #05C3E1 100%) 0% 0% no-repeat padding-box;
                box-shadow: 0px 12px 24px #00000030;
                border-radius: 8px;
                font: normal normal 400 16px/53px BalooChettan2;
                color: #FFFFFF;
                margin-right: 20px;
            }
        }
        .counter-download {
            text-align: center;
            font: normal normal 500 18px/26px BalooChettan;
            color: #FFFFFF;
            a {
                color: #98FFEA;
            }
        }
    }
    @keyframes loading {
        0% {
            background-position: 200% 0;
        }
        100% {
            background-position: 0 0;
        }
    }
    .counter-container {
        width: 1200px;
        height: auto;
        background-color: #F1F4F6;
        margin: 0 auto;
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 128px;
        padding-top: 104px;
        >h2 {
            text-align: center;
            font: normal normal 600 48px/71px BalooChettan;
            color: #000000;
            margin-bottom: 18px;
            width: 100%;
        }
        >p {
            text-align: center;
            font: normal normal 500 20px/24px BalooChettan;
            color: #404040;
            margin-bottom: 87px;
            width: 100%;
        }
        > div {
            margin-bottom: 52px;
            padding: 48px 42px 0 42px;
            box-sizing: border-box;
        }
        .counter-container-item1 {
            width: 732px;
            height: 451px;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            box-shadow: 0px 16px 30px #324FC417;
            border-radius: 20px;
        }
        .counter-container-item2 {
            width: 448px;
            height: 451px;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border-radius: 20px;
        }
        .counter-container-item3 {
            width: 548px;
            height: 420px;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border-radius: 20px;
        }
        .counter-container-item4 {
            width: 632px;
            height: 420px;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border-radius: 20px;
            opacity: 1;
        }
        .counter-container-item5 {
            width: 732px;
            height: 583px;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border-radius: 20px;
            margin-bottom: 0;
        }
        .counter-container-item6 {
            width: 448px;
            height: 583px;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border-radius: 20px;
            margin-bottom: 0;
        }
    }
    .counter-signup {
        width: 100%;
        height: 545px;
        background-color: #E94242;
    }
    .counter-why {
        width: 1200px;
        height: auto;
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 auto;
        .counter-why-item {
            width: 588px;
            height: 440px;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border-radius: 20px;
            &:nth-child(1), &:nth-child(1) {
              margin-bottom: 40px;
            }
        }
    }
    .counter-tips {
        width: 1138px;
        height: auto;
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 auto;
        .counter-tips-item {
            width: 538px;
            height: 50px;
            background: #ff000f 0% 0% no-repeat padding-box;
            border-radius: 6px;
            margin-top: 20px;
            &:nth-child(1), &:nth-child(2) {
                margin-top: 0;
            }
        }
    }
}

@media (max-width: 768px) {
    .counter-container {
        padding: 0 16px;
        box-sizing: border-box;
        margin-bottom: 67px!important;
        width: 100%!important;
        > div {
            margin-bottom: 40px!important;
        }
        width: 100%!important;
        .counter-container-item1 {
           width: 100%!important;
        }
        .counter-container-item2 {
            width: 100%!important;
        }
        .counter-container-item3 {
            width: 100%!important;
        }
        .counter-container-item4 {
            width: 100%!important;
        }
        .counter-container-item5 {
            width: 100%!important;
        }
        .counter-container-item6 {
            width: 100%!important;
            margin-bottom: 0!important;
        }
    }
    .counter-why {
        padding: 0 16px;
        box-sizing: border-box;
        width: 100%!important;
        .counter-why-item {
          width: 100%!important;
          margin-bottom: 40px!important;
        }
    }
    .counter-tips {
        padding: 0 16px;
        box-sizing: border-box;
        width: 100%!important;
        .counter-tips-item {
          width: 100%!important;
          margin-bottom: 20px!important;
        }
    }
}