.seo-0-7-download {
  height: 495px;
  background: linear-gradient(257deg, #111EC5 0%, #2020C7 15%, #AD34D8 73%, #FF9161 100%);
  font-size: 0;

  .wrapper {
    height: 100%;

    .img {
      display: inline-block;
      width: 561px;
      height: 100%;
      vertical-align: top;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .text {
      margin-left: 80px;
      padding-top: 110px;
      display: inline-block;
      vertical-align: top;

      h2 {
        display: none;
      }

      ul {
        li {
          font-size: 0;

          &:before {
            margin-right: 22px;
            content: "";
            display: inline-block;
            width: 28px;
            height: 28px;
            background: url("~@/assets/images/seo-pages/seo-0-the-best-followed/seo-0-7-download/check-circle-regular.svg") center/contain no-repeat;
            vertical-align: middle;
          }

          span {
            font: 500 24px/57px Montserrat;
            color: #FFFFFF;
            vertical-align: middle;
          }
        }
      }

      .btn {
        margin-top: 54px;

        .btn-big {
          display: inline-block;
          width: 415px;
          height: 92px;
          vertical-align: middle;
        }

        .btn-small {
          margin-left: 20px;
          display: inline-block;
          font-size: 0;
          vertical-align: middle;

          a {
            margin: 0 20px;
            display: inline-block;
            width: 26px;
            height: 26px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            vertical-align: middle;

            &:hover {
              filter: brightness(120%);
            }

            &.ios {
              background-image: url("../../../instagram-video-downloader/views/v-d-3-download/img/v-d-3-download__icon-ios.svg");
            }

            &.android {
              background-image: url("../../../instagram-video-downloader/views/v-d-3-download/img/v-d-3-download__icon-android.svg");
            }
          }

          i {
            display: inline-block;
            width: 1px;
            height: 14px;
            background-color: #FFFFFF;
            vertical-align: middle;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .seo-0-7-download {
    height: auto;

    .wrapper {
      height: auto;

      .img {
        display: none;
      }

      .text {
        margin-left: 0;
        padding-top: 46px;
        padding-bottom: 40px;
        display: block;

        h2 {
          display: inline-block;
          font: 600 22px/28px Montserrat;
          color: #FFFFFF;
          text-align: center;
        }

        ul {
          margin-top: 20px;
          padding-left: 11.2vw;

          li {
            &:before {
              margin-right: 12px;
              width: 16px;
              height: 16px;
            }

            span {
              font: 500 13px/32px Montserrat;
            }
          }
        }

        .btn {
          margin-top: 30px;

          .btn-big {
            margin: 0 auto;
            display: block;
            width: 211px;
            height: 56px;
          }
        }
      }
    }
  }
}
