input {
  border-width: 1px;
  font: normal normal 400 14px/21px BalooChettan;
}
label.invalid input {
  border-width: 2px;
}
.login-register {
  padding: 112px 0 80px;
  text-align: center;
  background-color: #F1F3F5;

  .login-register__title {
    color: #2A2A2A;

    img {
      width: 80px;
      height: 80px;
    }

    h1 {
      margin-top: 32px;
      font: normal normal 600 32px/40px BalooChettan;
      color: #000000;
    }

    p {
      font: normal normal 500 14px/21px BalooChettan;
      color: #000000;
    }
  }
  .login-register_error {
    width: 327px;
    background: rgba(237, 44, 91, 0.08);
    border-radius: 8px;
    // opacity: 0.08;
    margin: 0 auto;
    text-align: left;
    font-size: 14px;
    line-height: 21px;
    color: #ED2C5B!important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px 16px;
    margin-top: 16px;
    font-weight: 500;
  }
  .login-register_ok {
    width: 327px;
    background: rgba(24, 201, 129, 0.08);
    border-radius: 8px;
    // opacity: 0.08;
    margin: 0 auto;
    text-align: left;
    font-size: 14px;
    line-height: 21px;
    color: #18C981!important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px 16px;
    margin-top: 16px;
    font-weight: 500;
  }

  .login-register__form {
    // margin-top: 50px;

    label {
      position: relative;
      margin: 10px auto 0;
      display: block;
      width: 327px;
      height: 56px;
      input {
        padding-left: 47px;
      }

      &.invalid  {
        input {
          border-color: #ED2C5B;
        }
      }
      &.btn {
        margin-top: 24px;
      }

      &:after {
        position: absolute;
        top: 0;
        left: 16px;
        z-index: 1;
        display: block;
        width: 16px;
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        content: "";
        //transition: all 0.3s;
      }

      &.username:after {
        background-image: url("~@/assets/images/global/login-register/login-register__icon_user.svg");
      }

      &.email:after {
        background-image: url("~@/assets/images/global/login-register/login-register__icon_email.svg");
      }

      &.password:after {
        background-image: url("~@/assets/images/global/login-register/login-register__icon_password.svg");
      }

      &.password {
        .showPassword {
          display: inline-block;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 13px;
          width: 40px;
          height: 40px;
          z-index: 5;
          background: url("~@/assets/images/global/login-register/pwd_hide.svg") no-repeat;
          background-size: 16px 11px;
          background-position: center;
          cursor: pointer;
          &.flagfalse {
            background: url("~@/assets/images/global/login-register/pwd_show.svg") no-repeat;
            background-size: 16px 16px;
            background-position: center;
          }
        }
      }

      &.msg {
        height: auto;
        font: 500 14px/18px Montserrat;
        color: #FF4444;
      }

      a {
        font: 400 16px Montserrat;
        letter-spacing: 0;
        color: #2A2A2A;
        text-decoration: underline;
        transition: all 0.1s;

        &:hover {
          color: #005fff;
        }
      }

      &.links {
        margin-top: 50px;
        height: auto;
        display: flex;
        justify-content: space-between;
      }

      &.links-row {
        margin-top: 32px;
        height: auto;
      }
    }
    .error-msg {
      font: normal normal 500 14px/14px BalooChettan!important;
      color: #ED2C5B;
      text-align: left;
      width: 327px;
      margin: 0 auto;
      margin-top: 3px;
    }
  }
}

@media (max-width: 768px) {
  .login-register {
    padding-top: 56px!important;
  }
  .login-register__title {
    p {
      padding: 0 40px;
      box-sizing: border-box;
    }
  }
  .fgTop {
    padding-top: 0!important;
  }
}
