.seo-0-3-how-it-works {
  padding-top: 72px;

  .title {
    padding: 0 60px;
    height: 70px;
    background: linear-gradient(86deg, #FFB16D 0%, #FF437C 49%, #A733FF 100%);
    border-radius: 35px;

    font: 600 28px/70px Montserrat;
    color: #FFFFFF;
  }

  .content {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;

    .unit {
      padding: 54px 56px 30px;
      width: 373px;
      min-height: 310px;
      background: #F8F9FC;
      border-radius: 46px;
      text-align: center;

      img {
        width: 100px;
        height: 78px;
        object-fit: contain;
      }

      h3 {
        margin-top: 32px;
        font: 600 20px Montserrat;
        color: #2A2A2A;
      }

      p {
        margin-top: 14px;
        font: 500 14px/26px Montserrat;
        color: #2A2A2A;
      }
    }
  }

  p.note {
    margin-top: 34px;
    text-align: center;

    a {
      text-decoration: underline;
      font: 500 16px/32px Montserrat;
      //color: #7C56FF;
    }
  }
}

@media (max-width: 768px) {

}
