// 文章内容区样式
.blog-detail__content {
  padding-top: 40px;
  color: #2A2A2A;

  p {
    margin: 16px 0;
    font: 400 16px/1.75 Montserrat;

    a {
      color: #005fff;
      text-decoration: underline;
      transition: all 0.1s;

      &:hover {
        color: #2128BD;
      }
    }
  }

  & > h2 {
    position: relative;
    margin: 36px 0 16px;
    padding: 6px 13px;
    display: inline-block;
    width: 100%;
    background-color: rgba(81, 132, 220, 0.12);
    border-radius: 12px;
    border-left: 7px solid #005FFF;

    font-weight: 600;
    font-size: 21px;
    line-height: 31px;
  }

  h3 {
    margin: 28px 0 12px;
    font: 600 18px Montserrat;
  }

  strong, b {
    font-weight: 600;
    font-style: normal;
  }

  em {
    font-style: italic !important;
    font-weight: 400 !important;

    strong {
      font-style: italic !important;
      font-weight: 600 !important;
    }
  }

  ul, ol {
    margin: 16px 0;
    padding-left: 26px;
    font: 400 16px/1.75 Montserrat;

    li {
      p {
        margin-bottom: 0;
      }
    }
  }

  ul {
    li {
      list-style: outside disc;
    }
  }

  ol {
    li {
      list-style-type: inherit;
      list-style-position: outside;
    }
  }

  .tips {
    position: relative;
    margin: 50px 0;
    padding: 20px 30px;
    width: 100%;
    background: #FBF8F1;
    border-radius: 12px;

    font: 400 16px/20px Montserrat;
    color: #AC7300;

    &:before {
      position: absolute;
      top: -28px;
      left: 18px;
      display: block;
      width: 74px;
      height: 28px;
      background-image: url("./img/blog__icon_tips.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      content: "";
    }

    &.notice {
      background: #F1FBF1;
      color: #129246;

      &:before {
        width: 89px;
        height: 28px;
        background-image: url("./img/blog__icon_notice.svg");
      }
    }
  }

  .download {
    margin: 42px 0;
    padding: 30px 34px 34px;
    background: #FFFFFF;
    box-shadow: 0 3px 6px #00000014;
    border: 1px solid #CECECE;
    border-radius: 12px;
    color: #2A2A2A;
    font-size: 0;

    .download__left {
      display: inline-block;
      vertical-align: top;
      width: 480px;

      h3 {
        font: 600 20px/24px Montserrat;
      }

      ul {
        margin-top: 24px;

        li {
          font: 400 12px/18px Montserrat;
          list-style: inside url("~@/assets/images/global/icon_ul_star.svg");
        }
      }
    }

    .download__right {
      margin-left: 40px;
      display: inline-block;
      vertical-align: top;
      width: 210px;
      text-align: center;

      p.star {
        margin-top: 0;

        i {
          margin: 0 3px;
          display: inline-block;
          width: 17px;
          height: 16px;
          background-image: url("~@/assets/images/global/icon_star.svg");
          background-size: contain;
          vertical-align: top;
        }
      }

      .btn-container {
        margin-top: 22px;
        width: 100%;
        height: 60px;

        a {
          width: 100%;
          height: 100%;
        }
      }

      p.note {
        margin-top: 16px;
        font: 400 12px Montserrat;
      }
    }

    button.btn-green {
      padding: 0 10%;
      width: 100%;
      height: 100%;
      background-color: #00BE52;
      cursor: pointer;
      transition: all 0.3s;
      box-shadow: 0 12px 24px #00000029;

      color: #ffffff;

      span {
        font-weight: 600;
        font-size: 16px;
        word-break: break-word;
      }

      &:hover {
        background-color: #00e257;
      }
    }

    button {
      p {
        margin: 0;
      }
    }

    .btn-apps {
      width: 100%;
      min-width: auto;
      height: 100%;
      min-height: auto;
      border-radius: 64px;

      .btn-apps__links {
        &:first-child {
          .btn-download-green {
            padding-left: 20%;
          }
        }

        &:last-child {
          .btn-download-green {
            padding-right: 20%;
          }
        }
      }
    }
  }

  // 索引
  .index {
    margin: 40px 0;
    padding: 22px 40px;
    background: #F1F4FB;
    border-radius: 12px;

    ul {
      margin-bottom: 0;
      padding-left: 0;
      font-size: 0;

      li {
        position: relative;
        margin-top: 24px;
        padding-left: 12px;
        list-style: none;
        display: inline-block;
        vertical-align: top;
        width: 100%;
        font: 600 16px/20px Montserrat;
        color: #2A2A2A;
        cursor: pointer;
        transition: all 0.1s;

        &:before {
          position: absolute;
          top: 0;
          left: 0;
          content: '';
          display: inline-block;
          width: 5px;
          height: 20px;
          background: url("~@/assets/images/global/punctuation__bullet.svg") no-repeat center;
          background-size: contain;
        }

        &:hover {
          color: #005fff;
        }

        &:first-child {
          margin-top: 0;
        }
      }
    }

    &.double {
      padding: 26px 30px;

      ul {
        li {
          margin-top: 16px;
          display: inline-block;
          width: 50%;
          font-size: 14px;

          &:first-child {
            margin-top: 16px;
          }

          &:nth-child(1), &:nth-child(2) {
            margin-top: 0;
          }

          &:nth-child(odd) {
            padding-right: 20px;
          }

          &:nth-child(even) {
            padding-left: 20px;

            &:before {
              left: 10px;
            }
          }
        }
      }
    }
  }

  // 索引V2
  .index-v2 {
    padding: 23px 10px 39px 37px;
    background-color: #F3F5F7;
    border-radius: 12px;

    .index-v2__title {
      span {
        font-size: 18px;
        line-height: 20px;
        font-weight: 700;
        color: #005FFF;
        vertical-align: middle;
      }

      &:before {
        margin-right: 13px;
        content: "";
        display: inline-block;
        width: 20px;
        height: 20px;
        background: url("./img/icon-index-icon.svg") center/contain no-repeat;
        vertical-align: middle;
      }
    }

    .index-v2__unit-container {
      max-height: 310px;
      overflow-y: auto;

      &::-webkit-scrollbar {
        width: 6px;
        border-radius: 4px;
      }

      &::-webkit-scrollbar-track-piece {
        width: 6px;
        background-color: #E3E8F3;
        border-radius: 4px;
      }

      &::-webkit-scrollbar-thumb {
        width: 10px;
        background-color: #B9D1F5;
        border-radius: 5px;
      }

      .index-v2__unit {
        &:before {
          margin-right: 11px;
          content: "";
          display: inline-block;
          width: 6px;
          height: 6px;
          background-color: #88B2F2;
          border-radius: 50%;
          vertical-align: middle;
        }

        a {
          font-size: 16px;
          font-weight: 500;
          line-height: 32px;
          color: #000;
          transition: all 0.2s;

          &:hover {
            color: #005FFF;
            text-decoration: underline;
          }
        }

        .index-v2__sub-title {
          font-size: 14px;
          font-weight: 500;
          line-height: 31px;
          color: #000;
          transition: all 0.1s;
          cursor: pointer;

          &:hover {
            color: #005FFF;
          }

          &:after {
            margin-left: 8px;
            content: "";
            display: inline-block;
            width: 11px;
            height: 6px;
            background: url("./img/icon-arrow.svg") center/contain no-repeat;
            vertical-align: middle;
            transform: rotate(-90deg);
            transition: all 0.3s;
          }
        }

        .index-v2__subunit-container {
          max-height: 0;
          overflow: hidden;
          transition: all 0.5s;

          .index-v2__subunit {
            padding-left: 42px;

            a {
              font-size: 14px;
              font-weight: 500;
              line-height: 24px;
              color: #7D7D7D;

              &:hover {
                color: #005FFF;
                text-decoration: underline;
              }
            }
          }
        }

        &.sub {
          &.active {
            .index-v2__subunit-container {
              max-height: 200px;
            }

            .index-v2__sub-title {
              &:after {
                transform: rotate(0);
              }
            }
          }
        }
      }
    }
  }

  table {
    margin: 40px 0;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #E5E5E5;
    text-align: center;
    background-color: #F9F9F9;
    font: 400 14px Montserrat;

    tr {
      th, td {
        padding: 0 10px;
        border: 1px solid #E5E5E5;
        height: 48px;
        vertical-align: middle;

        &:first-child {
          text-align: left;
          background-color: #fff;
        }

        b {
          font-weight: 800;
          font-style: italic;
        }

        i {
          display: inline-block;
          background-size: contain;

          &.check {
            width: 19px;
            height: 13px;
            background-image: url("~@/assets/images/global/icon_table_mark_check.svg");
          }

          &.cross {
            width: 15px;
            height: 15px;
            background-image: url("~@/assets/images/global/icon_table_mark_cross.svg");
          }
        }
      }

      th {
        font-weight: 600;
        font-size: 16px;
      }

      &:first-child {
        th, td {
          font-weight: 600;
          font-size: 16px;
        }
      }
    }

    &.table-v2 {
      thead {
        tr {
          width: calc(100% - 6px);
        }
      }

      tbody {
        display: block;
        width: 100%;
        max-height: 380px;
        overflow-y: auto;

        &::-webkit-scrollbar {
          width: 6px;
        }

        &::-webkit-scrollbar-track-piece {
          width: 6px;
          background-color: #EEEEEE;
        }

        &::-webkit-scrollbar-thumb {
          width: 10px;
          background-color: #B9D1F5;
        }
      }

      tr {
        display: table;
        width: 100%;
        table-layout: fixed;

        &:first-child {
          th, td {
            font-weight: 400;
          }
        }
      }
    }
  }

  * {
    max-width: 100%;
    transition: all 0.3s;

    &:first-child {
      margin-top: 0;
    }
  }

  img {
    margin: 0 auto;
    display: block;
  }

  // btn公共
  .btn-container {
    font-size: 0;

    a {
      display: inline-block;
      vertical-align: middle;

      &.btn-buy {
        margin-left: 24px;

      }
    }
  }

  &.windows {
    .btn-windows {
      display: inline-block;
    }

    .btn-android {
      display: none;
    }

    .btn-ios {
      display: none;
    }
  }

  &.android {
    .btn-windows {
      display: none;
    }

    .btn-android {
      display: inline-block;
    }

    .btn-ios {
      display: none;
    }
  }

  &.ios {
    .btn-windows {
      display: none;
    }

    .btn-android {
      display: none;
    }

    .btn-ios {
      display: inline-block;
    }
  }

  // button-download-green
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    vertical-align: middle;
    cursor: pointer;
    transition: all 0.3s;

    &.btn-download-green {
      padding: 0 22px 0 24px;
      min-width: 240px;
      height: 64px;
      background: #00BE52;
      box-shadow: 0 12px 24px rgba(0, 0, 0, 0.16);
      border-radius: 5px;

      &:hover {
        background-color: #14D567;

        .icon {
          i, q {
            opacity: 0;
            transform: translateY(20px);
          }

          b, g {
            opacity: 1;
            transform: translateY(0);
          }
        }
      }

      &.icon-windows {
        .icon {
          i, q {
            background-image: url("~@/assets/images/global/button/icon__btn-download_logo_windows_white.svg");
          }
        }
      }

      &.icon-android {
        .icon {
          i, q {
            background-image: url("~@/assets/images/global/button/icon__btn-download_logo_android_white.svg");
          }
        }
      }

      &.icon-ios {
        .icon {
          i, q {
            background-image: url("~@/assets/images/global/button/icon__btn-download_logo_apple_white.svg");
          }
        }
      }

      &.icon-windows, &.icon-android, &.icon-ios {
        .icon {
          display: block;
        }
      }

      .icon {
        position: relative;
        margin-right: 8%;
        width: 30px;
        height: 30px;
        display: none;

        i, b, q, g {
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          width: 100%;
          height: 100%;
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          transition: all 0.3s;
        }

        b, g {
          opacity: 0;
          transform: translateY(-20px);
          background-image: url("~@/assets/images/global/button/icon__btn-download_dl_white.svg");
        }
      }

      .text {
        font: 600 18px Montserrat;
        color: #FFFFFF;
      }
    }

    &.buy {
      padding: 0 10%;
      min-width: 132px;
      height: 64px;
      background-color: transparent;
      border: 2px solid #FFFFFF;
      border-radius: 5px;
      opacity: 1;

      font: 600 16px Montserrat;
      color: #FFFFFF;
      white-space: nowrap;

      &:hover {
        background-color: #FF9C39;
        border-color: #FF9C39;
      }

      span {
        transition: all 0.1s;
      }

      &.yellow {
        background: linear-gradient(90deg, #FEB85C 0%, #FF7347 100%);
        box-shadow: 0 3px 6px #00000029;
        border: none;
        color: #FFFFFF;
      }
    }
  }

  // 下载模块新样式
  .download-type-1 {
    padding: 52px 20px 40px 300px;
    width: 800px;
    //height: 328px;
    background: url("~@/views/blog/blog-detail/img/blog__download-type-1_bg.png") no-repeat center;
    background-size: cover;
    border-radius: 12px;
    overflow: hidden;

    h2 {
      font: 600 19px/24px Montserrat;
      color: #FFFFFF;
    }

    ul {
      margin: 18px 0 30px;
      padding-left: 0;
      font-size: 0;

      li {
        position: relative;
        margin-top: 14px;
        padding-left: 20px;
        font: 500 12px/14px Montserrat;
        color: #FFFFFF;
        list-style: none;

        &:before {
          position: absolute;
          top: 0;
          left: 0;
          content: "";
          display: inline-block;
          width: 10px;
          height: 100%;
          background: url("~@/assets/images/global/icon_ul_star_white.svg") no-repeat center;
          background-size: contain;
        }

        &:first-child {
          margin-top: 0;
        }
      }
    }

    .btn-apps {
      width: 240px;
      height: 64px;
      border-radius: 5px;
    }
  }

  .download-type-2 {
    hr {
      display: none;
      margin: 30px auto 50px;
      border-top: 1px solid #E8E8E8;
      width: 100%;
    }

    .btn-container {
      text-align: center;

      button {
        &.buy {
          width: 240px;
          border-color: #A8A8A8;
          color: #2A2A2A;

          &:hover {
            border-color: #FF9C39;
            color: #fff;
          }
        }
      }
    }

    p.note {
      margin: 22px 0 0;
      text-align: center;
      font: 500 20px Montserrat;
      color: #A8A8A8;
    }

    .btn-apps {
      width: 240px;
      height: 64px;
      border-radius: 5px;
    }
  }

  .download-type-3 {
    padding: 26px 37px 0 48px;
    width: 100%;
    height: 200px;
    background: url("./img/blog__download-type-3_bg.svg") no-repeat center;
    background-size: cover;
    border-radius: 12px;
    overflow: hidden;

    .left, .btn-container {
      display: inline-block;
      vertical-align: top;
    }

    .left {
      width: 476px;
    }

    .btn-container {
      margin-left: 25px;
      width: 210px;
    }

    h2 {
      font: 600 24px/28px BalooChettan;
      color: #FFFFFF;
    }

    ul {
      margin: 18px 0 0;
      padding-left: 0;
      font-size: 0;

      li {
        margin-top: 10px;
        list-style: none;

        &:first-child {
          margin-top: 0;
        }

        span {
          position: relative;
          padding-left: 21px;
          display: inline-block;
          font: 400 13px Montserrat;
          color: #FFFFFF;
          vertical-align: middle;

          &:before {
            position: absolute;
            left: 0;
            top: 4px;
            content: "";
            display: inline-block;
            width: 14px;
            height: 14px;
            background: url("./img/icon-check.svg") no-repeat center;
            background-size: contain;
            vertical-align: middle;
          }
        }
      }
    }

    .btn-container {
      padding-top: 10px;

      a {
        margin-top: 8px;
        width: 100%;
        height: 50px !important;

        &:first-child {
          margin-top: 0;
        }

        button {
          width: 100% !important;
          min-width: 100% !important;
          height: 100% !important;
        }

        &.btn-buy {
          margin-left: 0;
        }
      }
    }

    .safe {
      margin: 10px 0 0;
      font: 12px BalooChettan;
      color: #FFFFFF;
      text-align: center;
    }
  }

  // button样式 - 小语种
  .btn-apps {
    position: relative;
    display: inline-block;
    min-width: 240px;
    height: 64px;
    font-size: 0;
    overflow: hidden;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.16);
    vertical-align: middle;

    &:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      display: block;
      width: 1px;
      height: 33.333%;
      background-color: rgba(0, 0, 0, 0.25);
    }

    .btn-apps__links {
      display: inline-block;
      width: 50% !important;
      height: 100% !important;

      .btn-download-green {
        padding: 0 10%;
        min-width: auto;
        width: 100%;
        height: 100%;
        border-radius: 0;
        box-shadow: none;

        .icon {
          margin-right: 0;
        }
      }
    }
  }

  // 锚点定位————暗锚
  .anchor-locator {
    content: "";
    position: absolute;
    top: -80px;
    left: 0;
    display: inline-block;
    visibility: hidden;
  }
}

// 阿拉伯语样式
.lang-arabic {
  .blog-detail__content .index ul {
    direction: rtl;

    li {
      padding-left: 0;
      padding-right: 12px;

      &:before {
        left: auto;
        right: 0;
      }
    }
  }
}

// 文章内容区外样式
.blog-detail {
  padding-bottom: 100px;

  .wrapper {
    padding-top: 32px;
  }

  .left {
    display: inline-block;
    vertical-align: top;
    width: 800px;

    .breadcrumb {
      padding: 18px 0;
      border-bottom: 1px solid #E8E8E8;
      line-height: 24px;

      a, span {
        margin: 0 2px;
        display: inline-block;
        font: 500 16px Montserrat;
        color: #7E7E7E;

        b {
          color: #000000;
          font-weight: 600;
        }
      }

      a {
        color: #005FFF;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .meta-info {
      padding-top: 28px;

      h1 {
        font: 600 40px/50px Montserrat;
        color: #000000;
      }

      p.intro {
        margin-top: 40px;
        font: 400 16px/20px Montserrat;
        color: #2A2A2A;
      }

      hr {
        margin-top: 30px;
        border-top: 1px solid #E8E8E8;
      }

      p.info {
        margin-top: 20px;
        font: Regular 16px/20px Montserrat;
        letter-spacing: 0;
        color: #A8A8A8;
      }
    }

    .related-list {
      margin-top: 60px;

      h2 {
        font: 600 20px/46px Montserrat;
        color: #2A2A2A;
      }

      a {
        display: inline-block;
        width: 100%;
        border-bottom: 1px solid #E8E8E8;
        font: 500 16px/64px Montserrat;
        color: #005fff;
        transition: all 0.1s;

        &:hover {
          color: #2128BD;
        }
      }
    }

    &.lang-arabic {
      h1, p.intro {
        direction: rtl;
      }
    }
  }

  .right {
    position: sticky;
    top: 32px+80px;
    margin-left: 56px;
    display: inline-block;
    vertical-align: top;
    width: 342px;

    .mix-container {
      padding: 32px 20px 32px;
      width: 100%;
      background: #7C56FF;
      box-shadow: 0 3px 6px #00000029;
      border-radius: 12px;

      text-align: center;

      h2 {
        margin-top: 20px;
        font: 800 28px Montserrat;
        color: #fff;
      }

      p.sub {
        margin-top: 16px;
        font-size: 0;

        &.b {
          margin-top: 32px;
        }

        * {
          vertical-align: middle;
        }

        span {
          font: 400 16px/20px Montserrat;
          color: #FFFFFF;
        }

        i {
          margin-right: 16px;
          display: inline-block;
          width: 19px;
          height: 24px;
          background: url("~@/assets/images/global/icon_safe.svg") no-repeat center;
          background-size: contain;
          vertical-align: middle;
        }
      }

      .btn {
        margin-top: 22px;
        display: inline-block;

        .btn-c {
          margin-top: 16px;

          &:first-child {
            margin-top: 0;
          }
        }
      }

      img.qr {
        margin-top: 22px;
        width: 100px;
      }
    }

    .hot-list {
      margin-top: 62px;

      h2 {
        font: 600 20px/47px Montserrat;
        color: #2A2A2A;
      }

      .links {
        a {
          margin-top: 20px;
          padding-bottom: 14px;
          display: block;
          border-bottom: 1px solid #E8E8E8;

          &:hover {
            span {
              color: #2128BD;
            }
          }

          span {
            font: 500 16px/19px Montserrat;
            color: #7E7E7E;
            @include text-ellipsis-multi(2);
            transition: all 0.1s;
          }
        }
      }
    }
  }

  .skeleton-blog-detail {
    .breadcrumb {
      span {
        width: 80%;
        height: 20px;
      }
    }

    .meta-info {
      h1 {
        span {
          width: 100%;
          height: 40px;
        }
      }

      p.intro {
        span {
          width: 86%;
          height: 16px;
        }
      }

      p.info {
        span {
          width: 30%;
          height: 16px;
        }
      }
    }

    .blog-detail__content {
      p {
        span {
          width: 100%;
          height: 16px;
        }
      }

      h2 {
        span {
          width: 60%;
          height: 24px;
        }
      }
    }

    span {
      display: inline-block;
      background: linear-gradient(to right, #eff1f3 4%, #e2e2e2 25%, #eff1f3 36%);
      background-size: 200% 100%;
      animation: shimmer 4s infinite linear;
      @keyframes shimmer {
        0% {
          background-position: 200% 100%;
        }
        100% {
          background-position: -200% 100%;
        }
      }
    }
  }

  .skeleton-hot-list {
    h2 {
      span {
        width: 40%;
        height: 20px;
      }
    }

    a {
      span {
        margin-bottom: 5px;
        width: 100%;
        height: 16px;

        &:last-child {
          width: 80%;
        }
      }
    }

    span {
      display: inline-block;
      background: linear-gradient(to right, #eff1f3 4%, #e2e2e2 25%, #eff1f3 36%);
      background-size: 200% 100%;
      animation: shimmer 4s infinite linear;
      @keyframes shimmer {
        0% {
          background-position: 200% 100%;
        }
        100% {
          background-position: -200% 100%;
        }
      }
    }
  }

  .search-containrer {
    width: 800px;
    margin-top: 40px;
    padding: 55px 125px 75px 125px;
    background: transparent linear-gradient(262deg, #D178E3 0%, #4D65FA 100%) 0% 0% no-repeat padding-box;
    border-radius: 12px;
    opacity: 1;
    color: #fff;
    text-align: center;
  }

  //h2 {
  //  font-size: 30px;
  //  margin-bottom: 14px;
  //  font-weight: 500;
  //}

  p {
    font-size: 18px;
  }

  .control-search_ins {
    width: 549px;
    height: 70px;
    margin: auto;
    margin-top: 38px;
    box-shadow: 0px 8px 20px #000A3D4D;
    border: 1px solid #E0E1E6;
    border-radius: 10px;
    color: #fff;
    background-color: #fff;

    .search_btn {
      box-shadow: 0px 10px 26px #3F065670;

    }

    label {
      input {
        font-size: 16px;
        padding-left: 18%;
        background: url("~@/assets/images/global/icon_search_username.svg") no-repeat 31px 21px;
        background-size: 24px 26px;
      }
    }

    input:focus {
      border-color: #E0E1E6 !important;
    }

    input:hover {
      border-color: #FCDC4E !important;
      background: url("~@/assets/images/global/blog_hover_user.svg") no-repeat 31px 21px;
      background-size: 24px 26px;
    }
  }

  .ins-info-container {
    margin-top: 50px;

    img.searchimg {
      width: 102px;
      height: 102px;
      border: 4px solid #fff;
    }

    h3 {
      font: 500 16px/19px Montserrat;
      color: #fff;
    }

    p {
      color: #fff;
      font: 500 20px Montserrat;
      margin-top: 30px;
      margin-bottom: 23px;

      b {
        color: #fff;
      }
    }

    .linewhite {
      width: 544px;
      height: 1px;
      background-color: #fff;
      margin: auto;
      opacity: 0.2;
    }

    .scanContain {
      text-align: center;

      h3 {
        font: 14px/18px Montserrat;
        color: #FCE5FF;
        margin: 23px 0;
      }

      .qrqdbg {
        width: 150px;
        height: 150px;
        margin: auto;
        background: url("~@/assets/images/global/qrcode__download_android.svg") no-repeat center;
      }

      .scanbgdow.scanbgdow {
        background: url("~@/assets/images/global/qrcode__download_ios.svg") no-repeat center;
      }

      .detailScan {
        margin-top: 28px;
        display: flex;
        align-items: center;
        justify-content: center;

        span {
          display: inline-block;
          width: 1px;
          height: 26px;
          background: #fff;
          margin: 0 20px;
        }

        img {
          border: none;
          cursor: pointer;
        }

        img.img01 {
          width: 26px;
          height: 31px;
          opacity: .4;
        }

        img.onimg01 {
          opacity: 1;
        }

        img.img02 {
          width: 24px;
          height: 28px;
          opacity: .4;
        }

        img.onimg02 {
          opacity: 1;
        }
      }
    }

    .mobileDown {
      display: none;
    }
  }

}

@media (max-width: 768px) {
  // 文章内容区样式
  .blog-detail__content {
    padding-top: 25px;

    p {
      margin: 14px 0;
      font: 400 14px/1.75 Montserrat;
    }

    h2 {
      margin-top: 30px;
      margin-bottom: 14px;

      font-size: 21px;
      line-height: 31px;
    }

    h3 {
      margin: 14px 0 6px;
      font: 600 15px Montserrat;
    }

    ul {
      margin: 14px 0;
      padding-left: 26px;
      font: 400 14px/1.75 Montserrat;
    }

    .tips {
      margin: 25px 0;
      padding: 3vw 4vw;
      font: 400 14px/17px Montserrat;

      &:before {
        position: absolute;
        top: -(48px/2);
        left: 10px;
        width: (127px/2);
        height: (48px/2);
      }
    }

    .download {
      margin: 21px 0;
      padding: 4vw;

      .download__left {
        width: 100%;

        h3 {
          font: 600 16px/20px Montserrat;
        }
      }

      .download__right {
        margin: 30px auto 0;
        display: block;
        width: 70vw;
      }
    }

    .index {
      margin: 30px 0;
      padding: 3vw 6vw 3vw;

      ul {
        li {
          margin-top: 12px;
          font: 600 14px/18px Montserrat;

          &:before {
            height: 18px;
          }
        }
      }

      &.double {
        padding: 3vw 6vw 3vw;

        ul {
          li {
            display: inline-block;
            width: 100%;
            //vertical-align: top;
            font-size: 14px;

            &:first-child {
              margin-top: 0;
            }

            &:nth-child(1) {
              margin-top: 0;
            }

            &:nth-child(2) {
              margin-top: 12px;
            }

            &:nth-child(odd) {
              padding-right: 0;
            }

            &:nth-child(even) {
              padding-left: 12px;

              &:before {
                left: 0;
              }
            }
          }
        }
      }
    }

    table {
      margin: 20px 0;
      font: 400 8px Montserrat;

      tr {
        th, td {
          padding: 0 10px;
          height: 48px;
          font-size: 7px;

          i {

            &.check {
              width: (19px/2);
              height: (13px/2);
            }

            &.cross {
              width: (15px/2);
              height: (15px/2);
            }
          }
        }

        &:first-child {
          th, td {
            font-weight: 600;
            font-size: 8px;
          }
        }
      }
    }

    .btn-container {
      text-align: center;

      a {
        &.btn-buy {
          margin-left: 0;
          margin-top: 16px;
          width: 64vw;
        }
      }
    }

    button {
      margin: 0 auto;

      &.btn-download-green {
        padding: 0;
        //width: 64vw;
        width: 211px;
        min-width: 0;
        height: 56px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.16);
        //border-radius: 56px;
        border-radius: 6px;

        .icon {
          position: relative;
          width: 22px;
          height: 44px;
        }

        .text {
          font: 600 14px Montserrat;
        }
      }

      &.buy {
        width: 211px;
        height: 56px;
        border: 2px solid #2A2A2A;
        border-radius: 8px;
        opacity: 1;

        font: 600 16px Montserrat;
        color: #2A2A2A;

        &:hover {
          color: #fff;
        }
      }

      p {
        margin: 0;
      }
    }

    .download-type-1 {
      padding: 0 0 30px;
      width: 100%;
      border-radius: 12px;
      background: url("./img/blog__download-type-1_bg-m.svg") center/cover no-repeat;

      h2 {
        position: relative;
        padding: 28px 20px 30px;
        display: inline-block;
        width: 100%;
        font: 600 24px/28px BalooChettan;
        text-align: center;

        &:before {
          //position: absolute;
          //top: 20px;
          //left: 21px;
          //content: "";
          //display: inline-block;
          //width: 50px;
          //height: 50px;
          //background: url("~@/assets/images/global/logo.svg") no-repeat center;
          //background-size: contain;
          //vertical-align: middle;
        }
      }

      ul {
        margin: 12px 4vw 32px;

        li {
          margin-top: 14px;
          font: 400 14px/14px Montserrat;
          color: #FFFFFF;

          &:before {
            width: 14px;
            height: 14px;
            background-image: url("./img/icon-check.svg");
          }
        }
      }

      .btn-container {
        padding: 20px;

        a {
          width: 100%;

          button {
            width: 100%;
          }
        }
      }
    }

    .download-type-2 {
      hr {
        margin: 15px auto 25px;
      }

      .btn-container {
        button {
          &.buy {
            width: 211px;
          }
        }
      }

      p.note {
        margin: 16px 0 0;
        font: 500 12px Montserrat;
      }
    }

    .download-type-3 {
      padding: 20px 32px;
      width: 100%;
      height: auto;
      background-image: url("./img/blog__download-type-3_bg-m.svg");

      .left {
        width: 100%;
      }

      .btn-container {
        margin-left: 0;
        width: 100%;
      }

      h2 {
        text-align: center;
      }

      ul {
        margin: 0;
      }

      .btn-container {
        a {
          height: 60px !important;

          &.btn-buy {
            width: 100% !important;
            min-width: 100% !important;
            margin-left: 0;

            button.buy {
              border-color: #fff;
              color: #fff;
            }
          }
        }
      }
    }
  }

  // 文章内容区外样式
  .blog-detail {
    padding-bottom: 60px;

    .wrapper {
      padding: 0 4vw;
    }

    .left {
      width: 100%;

      .breadcrumb {
        padding-top: 20px;
        line-height: normal;
        border-bottom: none;

        a, span {
          display: inline-block;
          font: 500 14px Montserrat;
        }
      }

      .meta-info {
        padding-top: 22px;

        h1 {
          font: 600 22px/27px Montserrat;
        }

        p.intro {
          margin-top: 16px;
          font: 400 14px/17px Montserrat;
        }

        hr {
          margin-top: 16px;
        }

        p.info {
          margin-top: 12px;
          font: 400 12px/14px Montserrat;
        }
      }

      .related-list {
        margin-top: 40px;

        h2 {
          margin-bottom: 18px;
          font: 600 16px/24px Montserrat;
        }

        a {
          margin-top: 10px;
          padding-bottom: 10px;
          font: 500 14px/20px Montserrat;
          @include text-ellipsis-multi(2);
        }
      }
    }

    .right {
      margin-left: 0;
      margin-top: 60px;
      width: 100%;

      .mix-container {
        padding: 4vw;

        .btn {
          margin-top: 22px;
          width: 72vw;
          height: 50px;
        }
      }

      .hot-list {
        margin-top: 62px;

        h2 {
          font: 600 16px/24px Montserrat;
        }

        .links {
          a {
            margin-top: 20px;
            padding-bottom: 14px;

            span {
              font: 500 16px Montserrat;
            }
          }
        }
      }
    }

    .search-containrer {
      padding: 31px 21px 48px;
      width: 100%;

      h2 {
        font: 600 17px/25px Montserrat;
      }

      p {
        font: 14px Montserrat;
      }

      .control-search_ins {
        border: none;

        label {
          width: 68%;
        }

        margin-top: 10px;
        width: 88%;
        height: 50px;
        border-radius: 5px;

        input {
          padding-left: 20px;
          border-radius: 5px 0 0 5px;
          background-image: none !important;
          font: 14px Montserrat;
          border: 1px solid #fff;
          border: none !important;
        }

        .search_btn {
          border-radius: 5px !important;
          width: 32%;
          overflow: visible;
        }
      }

      .ins-info-container {
        margin-top: 20px !important;

        img.searchimg {
          width: 88px;
          height: 88px;
        }

        p {
          span {
            display: inline-block;
            text-align: left;

            b {
              display: block;
            }
          }
        }

        .linewhite {
          display: none;
        }

        .scanContain {
          display: none;
        }

        .mobileDown {
          display: block;
          width: 100%;

          .getfreeDown {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
            width: 263px;
            height: 56px;
            background: transparent linear-gradient(270deg, #FFD256 0%, #F1FF33 100%) 0% 0% no-repeat padding-box;
            box-shadow: 0px 12px 24px #00000029;
            opacity: 1;
            border-radius: 64px;
            font: 600 16px/56px Montserrat;
            letter-spacing: 0px;
            color: #2A2A2A;
            margin-top: 25px;
          }

          .getfreeDown:hover {
            background: transparent linear-gradient(270deg, #F8DC2A 0%, #F7EE41 100%) 0% 0% no-repeat padding-box;
            box-shadow: 0px 10px 26px #3F065670;
          }

          p {
            margin: 0;
            margin-top: 18px;
          }
        }
      }

    }
  }
}
