.store-shelf-0-banner {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
  background: transparent linear-gradient(256deg, #111EC5 0%, #AD34D8 57%, #FF9161 100%);

  h1 {
    padding-top: 100px;
    text-align: center;
    font: 700 40px/48px Montserrat;
    color: #FFFFFF;
  }

  h2 {
    position: relative;
    z-index: 2;
    margin-top: 16px;
    text-align: center;
    font: 500 20px Montserrat;
    color: #FFFFFF;
    text-decoration: underline;
    cursor: pointer;
  }

  // 黑五
  .black-friday-img {
    display: none;
    margin: 0 auto;
    width: 184px;
    height: 188px;
    background: url("~@/views/store/store-shelf-0-banner-followers/img/img_blackfriday.svg") center top no-repeat;
    background-size: contain;
  }

  &.black-friday {
    .black-friday-img {
      display: block;
    }

    h1 {
      margin-top: -30px;
      padding-top: 0;
    }
  }

  // 新年
  &.new-year {
    height: 800px;
    background: url("~@/views/store/store-shelf-0-banner-followers/img/new-year__bg.svg") center top no-repeat;

    .new-year__top-img {
      display: block;
    }

    .new-year__snow {
      display: block;
    }

    h1 {
      margin-top: -10px;
      padding-top: 0;
      text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    }
  }

  .new-year__top-img {
    display: none;
    margin: 36px auto 0;
    width: 436px;
    height: 189px;
    background: url("~@/views/store/store-shelf-0-banner-followers/img/new-year__top.svg") center no-repeat;
    background-size: contain;
  }

  .new-year__snow {
    position: absolute;
    //z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: none;
    width: 1865px;
    height: 787px;
    background: url("~@/views/store/store-shelf-0-banner-followers/img/marry-christmas__snow.svg") center;
    background-size: 100% 200%;
    animation: floating-snow 26s linear infinite;
    @keyframes floating-snow {
      0% {
        background-position: 0 0;
      }
      100% {
        background-position: 0 -200%;
      }
    }
  }

  .new-year__top-img {
    display: none;
    margin: 36px auto 0;
    width: 436px;
    height: 189px;
    background: url("~@/views/store/store-shelf-0-banner-followers/img/new-year__top.svg") center no-repeat;
    background-size: contain;
  }

  .new-year__snow {
    position: absolute;
    //z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: none;
    width: 1865px;
    height: 787px;
    background: url("~@/views/store/store-shelf-0-banner-followers/img/marry-christmas__snow.svg") center;
    background-size: 100% 200%;
    animation: floating-snow 26s linear infinite;
    @keyframes floating-snow {
      0% {
        background-position: 0 0;
      }
      100% {
        background-position: 0 -200%;
      }
    }
  }

  // 情人节
  &.valentine {
    height: 963px;
    background: url("~@/views/store/store-shelf-0-banner-followers/img/valentine__bg.png") center top no-repeat;

    h1 {
      margin-top: -15px;
      padding-top: 0;
      //text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
      font-size: 32px;
    }
  }

  .valentine__top-img {
    margin: 20px auto 0;
    width: 780px;
    height: 139px;
    background: url("~@/views/store/store-shelf-0-banner-followers/img/valentine__top-img.png") center no-repeat;
    background-size: contain;
  }

  // 春季
  &.spring {
    height: 963px;
    background: url("~@/views/store/store-shelf-0-banner-followers/img/spring__bg.svg") center top no-repeat;

    h1 {
      //margin-top: -15px;
      padding-top: 0;
      //text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
      font-size: 32px;
    }
  }

  .spring__top-img {
    margin: 20px auto 0;
    width: 490px;
    height: 126px;
    background: url("~@/views/store/store-shelf-0-banner-followers/img/spring__top-img.svg") center no-repeat;
    background-size: contain;
  }
}

@media (max-width: 768px) {
  .store-shelf-0-banner {
    height: 250+44px;
    background-size: contain !important;

    h1 {
      padding: 35px;
      font: 700 20px/35px Montserrat;
      color: #FFFFFF;
    }

    .black-friday-img {
      width: (184px/2);
      height: (188px/2);
    }

    &.black-friday {
      h1 {
        margin-top: -10px;
      }
    }

    &.new-year {
      height: 285px;
    }

    .new-year__top-img {
      margin-top: 25px;
      width: (436px/2);
      height: (189px/2);
    }

    .new-year__snow {
      width: 100%;
      height: 100%;
    }

    &.valentine {
      background: radial-gradient(closest-side at 50% 50%, #FFB4B4 0%, #D84646 100%);

      h1 {
        font-size: 22px;
      }
    }

    .valentine__top-img {
      margin-top: 15px;
      width: 100%;
      height: 76px;
    }

    &.spring {
      background: #FF9941 url("~@/views/store/store-shelf-0-banner-followers/img/spring__bg-m.svg") top center no-repeat;

      h1 {
        font-size: 22px;
      }
    }

    .spring__top-img {
      margin-top: 10px;
      width: 65%;
      height: 66px;
    }
  }
}
