.seo-0-2-list {
  padding-top: 70px;

  .wrapper {
    h2 {
      font: 600 44px Montserrat;
      color: #2A2A2A;
    }

    h3 {
      margin-top: 14px;
      font: 500 18px Montserrat;
      color: #2A2A2A;
    }

    .table-container {
      margin-top: 70px;
      width: 100%;

      .page {
        width: 100%;
      }

      table {
        width: 100%;

        tr {
          &:nth-child(odd) {
            background-color: #F8F9FC;
          }

          &:nth-child(even) {
            background-color: #FFFFFF;
          }

          td, th {
            padding-right: 2%;
            height: 100px;
            vertical-align: middle;
            text-align: center;

            &:nth-child(2) {
              text-align: left;
            }

            &:nth-child(3), &:nth-child(4), &:nth-child(5) {
              text-align: right;
            }
          }

          th {
            font: 600 24px Montserrat;
            color: #2A2A2A;

            &:nth-child(1) {
              width: 8%;
            }

            &:nth-child(2) {
              width: 16%;
            }

            &:nth-child(3) {
              width: 10%;
            }

            &:nth-child(4) {
              width: 10%;
            }

            &:nth-child(5) {
              width: 10%;
            }
          }

          td {
            font: 500 18px Montserrat;
            color: #2A2A2A;

            &:nth-child(1) {
              font: 600 24px Montserrat;
            }

            &:nth-child(2) {
              img, .text {
                vertical-align: middle;
              }

              img {
                width: 65px;
                height: 65px;
                border: 1px solid rgba(112, 112, 112, 0.27);
                border-radius: 50%;
                object-fit: cover;
              }

              .text {
                margin-left: 22px;
                display: inline-block;

                p.name {
                  font: 600 18px Montserrat;
                  color: #2A2A2A;
                }

                p.id {
                  margin-top: 3px;
                  font: 500 14px Montserrat;
                  color: #7C56FF;
                }
              }
            }
          }
        }

        &.skeleton {
          i {
            display: inline-block;
            width: 50%;
            height: 22px;
            background: linear-gradient(to right, #eff1f3 4%, #e2e2e2 25%, #eff1f3 36%);
            background-size: 200% 100%;
            animation: shimmer 4s infinite linear;
            @keyframes shimmer {
              0% {
                background-position: 200% 100%;
              }
              100% {
                background-position: -200% 100%;
              }
            }

            &.img {
              width: 65px;
              height: 65px;
              border-radius: 50%;
              vertical-align: middle;
            }

            &.name, &.id {
              display: block;
            }

            &.name {
              width: 200px;
              height: 18px;
            }

            &.id {
              margin-top: 4px;
              width: 140px;
              height: 14px;
            }
          }
        }
      }
    }

    .pagination {
      margin: 38px auto 0;
      text-align: center;

      a {
        margin-left: 32px;
        display: inline-block;
        width: 35px;
        height: 35px;
        background-color: #D1D1D1;
        border-radius: 50%;
        cursor: pointer;
        transition: all 0.3s;

        font: 600 20px/35px Montserrat;
        color: #FFFFFF;

        &:first-child {
          margin-left: 0;
        }

        &.on {
          background-color: #7C56FF;
        }

        &:hover {
          background-color: #9879ff;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .seo-0-2-list {
    padding-top: 45px;

    .wrapper {
      h2 {
        padding: 0 4vw;
        font: 600 22px Montserrat;
      }

      h3 {
        margin-top: 6px;
        padding: 0 4vw;
        font: 500 12px Montserrat;
      }

      .table-container {
        margin-top: 23px;

        table {
          tr {
            th, td {
              padding: 0 2%;
              height: 50px;

              &:nth-child(1), &:nth-child(2), &:nth-child(3) {
                padding: 0;
              }

              &:nth-child(5) {
                padding: 0;
                text-align: center;
              }
            }

            th {
              font: 600 12px Montserrat;
              color: #2A2A2A;

              &:nth-child(1) {
                width: 5%;
              }

              &:nth-child(2) {
                width: 30%;
              }

              &:nth-child(3) {
                width: 4%;
              }

              &:nth-child(4) {
                width: 4%;
              }

              &:nth-child(5) {
                width: 6%;
              }
            }

            td {
              font: 500 9px Montserrat;

              &:nth-child(1) {
                font: 600 10px Montserrat;
              }

              &:nth-child(2) {
                img {
                  width: 32px;
                  height: 32px;
                  border: 0.5px solid rgba(112, 112, 112, 0.27);
                }

                .text {
                  margin-left: 4%;
                  max-width: 70%;

                  p {
                    @include text-ellipsis;
                  }

                  p.name {
                    font: 600 9px Montserrat;
                  }

                  p.id {
                    margin-top: 1.5px;
                    font: 500 7px Montserrat;
                  }
                }
              }
            }
          }

          &.skeleton {
            .text {
              display: none;
            }

            i {
              height: 11px;

              &.img {
                width: 32px;
                height: 32px;
              }

              &.name {
                width: auto;
                height: 9px;
              }

              &.id {
                margin-top: 4px;
                width: auto;
                height: 7px;
              }
            }
          }
        }
      }

      .pagination {
        margin: 16px auto 0;

        a {
          margin-left: 22px;
          width: 24px;
          height: 24px;

          font: 600 13px/24px Montserrat;
        }
      }
    }
  }
}
