.seo-0-6-the-best-way {
  margin-top: 140px;
  padding-top: 140px;
  padding-bottom: 76px;
  background-color: #F8F9FC;

  h2 {
    font: 600 38px Montserrat;
    color: #2A2A2A;
    text-align: center;
  }

  h3 {
    margin-top: 22px;
    font: 500 18px/32px Montserrat;
    color: #2A2A2A;
    text-align: center;
  }

  .view-tree {
    margin-top: 100px;
    padding-top: 52px;
    background: url("~@/assets/images/seo-pages/seo-0-the-best-followed/seo-0-6-the-best-way/seo-0-6-the-best-way-bg.svg") center top no-repeat;

    .unit {
      margin: -142px auto 0;
      padding-right: 399+125px;
      box-sizing: content-box;
      width: 399px;
      //opacity: 0;
      //transform: translateY(50px);
      //transition: all 0.6s;

      //&.on {
      //  opacity: 1;
      //  transform: translateY(0);
      //}

      h4 {
        display: flex;
        justify-content: center;
        align-items: center;
        font: 600 20px/24px Montserrat;
        color: #2A2A2A;
        text-align: right;

        i {
          margin-left: 16px;
          flex-shrink: 0;
          display: inline-block;
          width: 36px;
          height: 36px;
          background: #7C56FF;
          box-shadow: 0 6px 5px rgba(0, 0, 0, 0.16);
          text-align: center;
          border-radius: 50%;

          font: 600 20px/36px Montserrat;
          color: #FFFFFF;
        }
      }

      img {
        margin-top: 26px;
        width: 100%;
      }

      &:first-child {
        margin-top: 0;
      }

      &:nth-child(even) {
        padding-right: 0;
        padding-left: 399+125px;

        h4 {
          text-align: left;

          i {
            margin-left: 0;
            margin-right: 16px;
          }
        }
      }

      &:nth-child(odd) {
        h4 {
          flex-direction: row-reverse;
        }
      }

      .img {
        margin-top: 26px;
        width: 100%;
        background-color: #5920CE;
        border: 1px solid rgba(112, 112, 112, 0.22);
        border-radius: 10px;
        font-size: 0;
        text-align: center;

        img {
          margin-top: 0;
          height: 300px;
          object-fit: contain;
        }
      }
    }
  }

  .tips {
    margin-top: 100px;
    display: flex;
    align-items: center;

    font: 500 20px/36px Montserrat;
    color: #2A2A2A;

    &:before {
      margin-right: 36px;
      content: "";
      flex-shrink: 0;
      display: inline-block;
      width: 72px;
      height: 72px;
      background: url("~@/assets/images/global/icon-bulb.svg") center/contain no-repeat;
    }
  }
}

@media (max-width: 768px) {
  .seo-0-6-the-best-way {
    margin-top: 35px;
    padding-top: 40px;
    padding-bottom: 30px;

    h2 {
      padding: 0 4vw;
      font: 600 22px/1.2 Montserrat;
    }

    h3 {
      padding: 0 4vw;
      font: 500 12px/17px Montserrat;
    }

    .view-tree {
      margin-top: 0;
      padding-top: 52px;
      background: none;

      .unit {
        margin: 27px auto 0;
        padding: 0 12.4vw;
        box-sizing: border-box;
        width: 100%;

        h4 {
          font: 600 12px/16px Montserrat;
          text-align: left;

          i {
            margin-left: 0;
            margin-right: 10px;
            width: 20px;
            height: 20px;
            box-shadow: 0 3px 2px rgba(0, 0, 0, 0.16);

            font: 600 12px/20px Montserrat;
          }
        }

        img {
          margin-top: 12px;
        }

        &:nth-child(even) {
          padding: 0 12.4vw;
        }

        &:nth-child(odd) {
          h4 {
            flex-direction: row;
          }
        }

        .img {
          margin-top: 12px;
          padding: 15px 0 20px;
          border-radius: 5px;

          img {
            width: 125px;
            height: 124px;
            object-fit: contain;
          }

          .btn {
            margin-top: 15px;
            display: inline-block;
            width: 58vw;
          }
        }
      }
    }

    .tips {
      margin-top: 36px;
      padding: 0 4vw;
      font: 500 12px/17px Montserrat;

      &:before {
        margin-right: 18px;
        width: 36px;
        height: 36px;
      }
    }
  }
}
