.seo-0-5-how-to-become {
  padding-top: 66px;

  .title {
    padding: 42px 60px;
    width: 100%;
    background: linear-gradient(90deg, #FFB16D 0%, #FF437C 49%, #A733FF 100%);
    border-radius: 85px;
    text-align: center;

    h2 {
      font: 600 40px Montserrat;
      color: #FFFFFF;
    }

    h3 {
      font: 500 20px Montserrat;
      color: #FFFFFF;
    }
  }

  p.note {
    margin-top: 55px;
    font: 500 18px/32px Montserrat;
    color: #2A2A2A;
    text-align: center;

    b {
      font-weight: 700;
    }
  }

  .content {
    .unit {
      margin-top: 80px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      img {
        width: 599px;
      }

      .text {
        width: 540px;

        h3 {
          font: 700 24px/32px Montserrat;
          color: #2A2A2A;
        }

        p {
          margin-top: 26px;
          font: 500 18px/28px Montserrat;
          color: #2A2A2A;
        }
      }

      &:nth-child(odd) {
        flex-direction: row-reverse;
      }
    }
  }
}

@media (max-width: 768px) {
  .seo-0-5-how-to-become {
    padding-top: 36px;

    .title {
      padding: 21px 4vw;
      width: 100%;
      border-radius: 0;

      h2 {
        font: 600 16px Montserrat;
      }

      h3 {
        margin-top: 4px;
        font: 500 10px Montserrat;
      }
    }

    p.note {
      margin-top: 32px;
      padding: 0 4vw;
      font: 500 12px/17px Montserrat;

      b {
        font-weight: 700;
      }
    }

    .content {
      padding: 0 4vw;
      .unit {
        margin-top: 25px;
        display: block;

        img {
          width: 100%;
        }

        .text {
          width: 100%;

          h3 {
            margin-top: 20px;
            font: 700 16px/1.2 Montserrat;
            color: #2A2A2A;
          }

          p {
            margin-top: 12px;
            font: 500 12px/17px Montserrat;
          }
        }
      }
    }
  }
}
