@mixin text-ellipsis() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.order-detail {
  position: relative;
  padding-top: 80px;
  padding-bottom: 100px;

  &.client {
    padding-top: 0;

    &:before {
      height: 300px;
    }
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 380px;
    background-color: #F8F8F8;
  }

  .wrapper {
    padding-top: 48px;

    h1 {
      font: 600 28px/34px Montserrat;
      color: #2A2A2A;
      text-align: center;
    }

    h2 {
      margin-top: 12px;
      font: 400 16px Montserrat;
      color: #A8A8A8;
      text-align: center;
    }

    .order-detail-container {
      margin-top: 50px;
      padding: 100px;
      background-color: #fff;
      box-shadow: 0 0 20px rgba(0, 19, 97, 0.07);
      border-radius: 12px;

      h3 {
        display: flex;
        justify-content: space-between;
        align-items: center;

        font: 600 20px/32px Montserrat;
        color: #2A2A2A;

        .btn-container {
          display: inline-block;
          font-size: 0;
          width: 162px;
          height: 40px;
        }
      }

      .content {
        margin-top: 36px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .content__unit {
          width: 526px;

          h4 {
            font: 400 16px/20px Montserrat;
            color: #A8A8A8;

            b {
              font-weight: 500;
              color: #2A2A2A;
            }
          }

          .container {
            margin-top: 20px;
            margin-bottom: 16px;
            padding: 24px;
            width: 100%;
            background-color: #F6F6F6;
            border: 2px dotted #E1E1E1;
            border-radius: 6px;

            .cart-list {
              .cart-list__unit {
                margin-top: 20px;
                font-size: 0;

                &:first-child {
                  margin-top: 0;
                }

                * {
                  vertical-align: middle;
                }

                img {
                  width: 64px;
                  height: 64px;
                  border-radius: 50%;
                }

                p {
                  margin-left: 24px;
                  display: inline-block;
                  font: 600 16px/20px Montserrat;
                  max-width: 80%;
                  @include text-ellipsis;
                }
              }
            }

            .text {
              p {
                font: 500 16px/32px Montserrat;
              }
            }
          }

          p.note {
            font: 500 16px/32px Montserrat;
          }
        }

        p.note {
          font: 500 16px/24px Montserrat;
        }
      }
    }

    .bottom-text {
      .unit {
        margin-top: 36px;

        &:first-child {
          margin-top: 72px;
        }

        h3 {
          font: 600 18px/30px Montserrat;
          color: #2A2A2A;
        }

        p {
          margin-top: 10px;
          font: 400 14px/24px Montserrat;
          color: #A8A8A8;

          a {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .order-detail {
    padding-top: 44px;
    padding-bottom: 80px;

    &.client {
      padding-top: 0;

      &:before {
        height: 176px;
      }
    }

    &:before {
      height: 220px;
      background-color: #005FFF;
    }

    .wrapper {
      padding: 30px 4vw 0;

      h1 {
        font: 700 22px/28px Montserrat;
        color: #fff;
      }

      h2 {
        margin-top: 16px;
        font: 400 14px Montserrat;
        color: #fff;
      }

      .order-detail-container {
        margin-top: 26px;
        padding: 6vw 4vw;
        box-shadow: 0 5px 10px rgba(0, 19, 97, 0.07);
        border-radius: 6px;

        h3 {
          font: 600 16px/20px Montserrat;

          .btn-container {
            width: 105px;
            height: 28px;
          }
        }

        .content {
          margin-top: 13px;
          display: block;

          .content__unit {
            width: 100%;

            &:last-child {
              margin-top: 50px;
            }

            h4 {
              font: 400 14px/17px Montserrat;

              b {
                font-weight: 500;
              }
            }

            .container {
              margin-top: 16px;
              margin-bottom: 12px;
              padding: 4vw;
              border: 1px dotted #E1E1E1;
              border-radius: 3px;

              .cart-list {
                .cart-list__unit {
                  margin-top: 16px;

                  img {
                    width: 40px;
                    height: 40px;
                  }

                  p {
                    margin-left: 9px;
                    font: 600 14px/17px Montserrat;
                  }
                }
              }

              .text {
                p {
                  font: 500 14px/16px Montserrat;
                }
              }
            }

            p.note {
              font: 500 14px/16px Montserrat;
            }
          }

          p.note {
            font: 500 14px/18px Montserrat;
          }
        }
      }

      .bottom-text {
        .unit {
          margin-top: 30px;

          &:first-child {
            margin-top: 56px;
          }

          h3 {
            font: 600 14px/15px Montserrat;
          }

          p {
            margin-top: 9px;
            font: 400 14px/17px Montserrat;
          }
        }
      }
    }
  }
}
