.seo-1-lottery {
  //width: 100%;
  p.copyright {
    padding: 0 0 40px;
    font: 400 13px Montserrat;
    color: #B6B6B7;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .seo-1-lottery {
    p.copyright {
      padding: 0 6vw 20px;
      font: 400 10px Montserrat;
      color: #B6B6B7;
    }
  }
}
