.affiliate-0-top {
  background: linear-gradient(180deg, #F5F2FF 0%, #FFFFFF 100%);

  .wrapper {
    overflow: hidden;
  }

  .text {
    padding-top: 180px;
    width: 560px;

    h1 {
      font: 700 60px/66px Montserrat;
      color: #7C56FF;
    }

    p {
      margin-top: 30px;
      font: 500 18px/30px Montserrat;
      color: #2A2A2A;
    }

    .btn {
      margin-top: 80px;
      width: 466px;
      height: 84px;
    }
  }

  .img {
    position: absolute;
    top: 0;
    right: -94px;
    width: 750px;
    height: 750px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .mouse {
    position: relative;
    margin: 220px auto 0;
    width: 28px;
    height: 37px;
    border: 4px solid rgba(124, 86, 255, 0.3);
    border-radius: 14px;

    &:before {
      content: "";
      position: absolute;
      top: -20%;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      display: block;
      width: 5px;
      height: 7px;
      border-radius: 10px;
      background-color: rgba(124, 86, 255, 0.3);
    }
  }
}

@media (max-width: 768px) {
  .affiliate-0-top {
    .text {
      padding-top: 0;
      width: 100%;
      text-align: center;

      h1 {
        padding: 0 6vw;
        font: 700 30px/33px Montserrat;
      }

      p {
        margin-top: 15px;
        padding: 0 6vw;
        font: 500 12px/24px Montserrat;
      }

      .btn {
        margin-top: 16px;
        padding: 0 4.8vw;
        width: 100%;
        height: 64px;
      }
    }

    .img {
      position: relative;
      top: auto;
      right: auto;
      width: 100%;
      height: auto;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
