.des-container {
  margin-top: 150px;
  overflow: hidden;

  .unit {
    margin: 150px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .img, .text {
      opacity: 0;
      transition: all 0.6s cubic-bezier(0.76, 0, 0.24, 1);
    }

    .img {
      width: 504px;
      height: 422px;
      overflow: hidden;
      transform: translateX(60px);

      img {
        width: 100%;
      }
    }

    .text {
      margin-left: 100px;
      width: 564px;
      transform: translateX(-60px);

      p {
        margin-top: 20px;
      }
    }

    &:nth-child(even) {
      flex-direction: row-reverse;

      .img {
        transform: translateX(-60px);
      }

      .text {
        margin-left: 0;
        margin-right: 100px;
        transform: translateX(60px);
      }
    }

    &:first-child {
      margin-top: 0;
    }

    &.on {
      .img, .text {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }
}

@media (max-width: 768px) {
  .des-container {
    margin-top: 50px;

    .unit {
      margin: 50px auto 0;
      display: block;

      .img {
        margin: 0 auto;
        width: 68vw;
        height: auto;
      }

      .text {
        margin-left: 0;
        margin-top: 43px;
        width: 100%;

        p {
          margin-top: 17px;
        }
      }

      &:nth-child(even) {
        flex-direction: row-reverse;

        .text {
          margin-left: 0;
          margin-right: 100px;
        }
      }

      &:first-child {
        margin-top: 0;
      }
    }
  }
}
