.seo-0-1-navigation {
  padding-top: 68px;

  p {
    font: 500 18px/32px Montserrat;
    color: #2A2A2A;

    b {
      font-weight: 700;
    }

    a {
      font-weight: 500;
      color: #1423F9;
      text-decoration: underline;

      &:hover {
        opacity: 0.7;
      }
    }
  }

  .navigation {
    margin-top: 68px;
    padding: 36px 70px;
    border-radius: 28px;
    background: #F8F9FC;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.11);

    h3 {
      font: 700 24px/20px Montserrat;
      color: #2A2A2A;
    }

    ul {
      li {
        position: relative;
        margin-top: 18px;
        padding-left: 30px;
        font: 600 18px Montserrat;
        color: #2A2A2A;
        cursor: pointer;
        transition: all 0.1s;

        &:first-child {
          margin-top: 30px;
        }

        &:before, &:after {
          content: "";
          display: inline-block;
          background-size: contain;
          vertical-align: middle;
        }

        &:before {
          position: absolute;
          top: 6px;
          left: 0;
          width: 12px;
          height: 10px;
          background: url("~@/assets/images/global/icon-angle-double-right.svg") center/contain no-repeat;
        }

        &:after {
          display: none;
        }

        &.highlight {
          color: #7C56FF;

          &:after {
            position: relative;
            top: -7px;
            margin-left: 10px;
            display: inline-block;
            width: 26px;
            height: 26px;
            background: url("~@/assets/images/global/icon-thumbs-up.svg") center/contain no-repeat;
            //vertical-align: baseline;
            @keyframes icon-hover {
              0% {
              }
              30% {
                transform: scale(1.1) rotate(-10deg);
              }
              60% {
                transform: scale(1.1) rotate(-10deg);
              }
              100% {
                transform: scale(1) rotate(0);
              }
            }
          }

          &:hover {
            &:after {
              animation: 0.5s icon-hover forwards;
            }
          }
        }

        &:hover {
          color: #005FFF;
        }
      }
    }
  }

  .float-navigation {
    position: fixed;
    top: 30%;
    right: -40px;
    z-index: 2;
    width: 272px;
    transform: translateX(272px);
    transition: all .34s cubic-bezier(0.52, 0.16, 0.24, 1);

    background: #F8F9FC;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.07);
    border-radius: 5px 0 0 5px;
    overflow: hidden;

    .title {
      padding: 0 16px;
      height: 38px;
      font-size: 0;
      cursor: pointer;

      * {
        vertical-align: top;
      }

      i, em {
        display: inline-block;
        height: 100%;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }

      i {
        margin-right: 15px;
        width: 24px;
        background-image: url("~@/assets/images/global/icon-bookmark.svg");
      }

      span {
        font: 700 14px/38px Montserrat;
        color: #2A2A2A;
      }

      em {
        margin-left: 20px;
        width: 10px;
        background-image: url("~@/assets/images/global/icon-arrow-purple.svg");
        filter: brightness(0);
        transform: rotate(-90deg);
        transition: all 0.3s;
      }
    }

    .list {
      height: 0;
      overflow: hidden;
      transition: all .56s cubic-bezier(0.52, 0.16, 0.24, 1);

      ul {
        display: block;
        padding: 20px 16px;

        li {
          margin-top: 14px;
          font: 500 12px/18px Montserrat;
          color: #2A2A2A;
          transition: all 0.1s;
          cursor: pointer;

          &:first-child {
            margin-top: 0;
          }

          &:hover {
            color: #005FFF;
          }
        }
      }
    }


    &.active {
      right: 0;

      .title {
        em {
          filter: brightness(100%);
          transform: rotate(0);
        }
      }

      .list {
        transform: scaleY(1);
      }
    }

    &.show {
      transform: translateX(0);
    }
  }
}

@media (max-width: 768px) {
  .seo-0-1-navigation {
    padding-top: 36px;

    .wrapper {
      padding: 0 4vw;
    }

    p {
      font: 500 13px/18px Montserrat;
    }

    .navigation {
      margin-top: 40px;
      padding: 36px 24px;
      border-radius: 15px;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.11);

      h3 {
        font: 700 17px/22px Montserrat;
      }

      ul {
        li {
          margin-top: 22px;
          padding-left: 20px;
          font: 600 12px/18px Montserrat;

          &:first-child {
            margin-top: 15px;
          }

          &:before {
            top: 5px;
            width: 10px;
            height: 8px;
          }

          &.highlight {
            &:after {
              top: -3px;
              margin-left: 6px;
              width: 14px;
              height: 14px;
            }
          }

          &:hover {
            color: #005FFF;
          }
        }
      }
    }
  }
}
